Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck --pretty false
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

chore(deps): bump tanstack, posthog, eslint
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): fix h3 audit vulnerability and suppress build warning
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: typecheck, lint, format

fix(tests): replace toast assertions with outcome-based assertions
  .oxlintrc.json
  e2e/app/accounts.test.ts
  e2e/app/budgets.test.ts
  e2e/app/categories.test.ts
  e2e/app/imports-stress.test.ts
  e2e/app/imports.test.ts
  e2e/app/transactions.test.ts
  e2e/fixtures/auth.ts
  e2e/fixtures/entity.ts
  e2e/fixtures/table-actions.ts
Due: typecheck, lint, format

fix(tests): consolidate E2E fixtures with boxed steps and error detection
  e2e/fixtures/auth.ts
  e2e/fixtures/combobox.ts
  e2e/fixtures/entity.ts
  e2e/fixtures/import-actions.ts
  e2e/fixtures/table-actions.ts
Due: typecheck, lint, format

chore(tests): add captureGitInfo and verify test idempotency
  playwright.config.ts
Due: typecheck, lint, format

chore(ci): shard E2E full suite and add toast dismiss handler
  .github/workflows/ci.yml
  e2e/fixtures/auth.ts
Due: typecheck, lint, format

docs(tests): add E2E testing patterns README
  e2e/README.md
Due: lint-md, format

fix(routes): gate demo pages on VITE_DEMO_PAGES env var
  .env.example
  src/routes/_demo/route.tsx
Due: typecheck, lint, format

fix(tests): filter React hydration errors from pageerror detection
  e2e/fixtures/auth.ts
  e2e/fixtures/constants.ts
Due: typecheck, lint, format

fix(ui): use Timestamp component for import date column
  src/modules/imports/components/imports-columns.tsx
Due: typecheck, lint, format

refactor(tests): split transactions E2E into crud, fields, and edit
  e2e/app/transactions-crud.test.ts
  e2e/app/transactions-edit.test.ts
  e2e/app/transactions-fields.test.ts
  e2e/app/transactions.test.ts
Due: typecheck, lint, format

fix(tests): add @mobile tag to categories and sign-up tests
  e2e/README.md
  e2e/app/categories.test.ts
  e2e/auth/sign-up.test.ts
Due: typecheck, lint, lint-md, format

refactor(tests): extract selectAccount into form-actions fixture
  e2e/README.md
  e2e/app/transactions-crud.test.ts
  e2e/app/transactions-edit.test.ts
  e2e/app/transactions-fields.test.ts
  e2e/fixtures/form-actions.ts
Due: typecheck, lint, lint-md, format

test(a11y): add WCAG scans for authenticated pages
  e2e/app/a11y-authenticated.test.ts
Due: typecheck, lint, format

fix(logging): use exact domain match for PostHog endpoint check
  src/lib/logging/drain.ts
Due: typecheck, lint, format

chore(deps): bump runtime and dev dependencies
  package.json
  pnpm-lock.yaml
Due: format

fix(ui): add missing Select items prop, placeholders, and spacing
  messages/en-US.json
  src/components/data-grid/pagination.tsx
  src/components/ui/stepper.tsx
  src/modules/budgets/components/copy-budget-dialog.tsx
  src/modules/imports/components/column-mapper.tsx
  src/modules/imports/components/import-upload-dialog.tsx
Due: typecheck, lint, format

feat(imports): add reset mapping button to column mapper
  messages/en-US.json
  src/modules/imports/components/column-mapper.tsx
  src/modules/imports/lib/auto-detect-mapping.test.ts
  src/modules/imports/lib/auto-detect-mapping.ts
Due: typecheck, lint, format

refactor(auth): extract redirect sanitization to unit-tested utility
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/lib/sanitize-redirect.test.ts
  src/modules/auth/lib/sanitize-redirect.ts
Due: typecheck, lint, format

fix(email): correct reply-to domain typo
  .env.example
  README.md
  docs/adr/0005-email-react-email-and-brevo.md
Due: lint-md, format

feat(ui): add component-patterns skill for Claude Code
  .claude/skills/component-patterns/SKILL.md
Due: lint-md, format

refactor(config): remove ESLint rules now handled by oxlint
  .vscode/extensions.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/filters/index.tsx
Due: typecheck, lint, format

fix(config): pin TanStack versions and remove rolldown workaround
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: typecheck, lint, format

fix(finance): update import status to completed after processing
  src/modules/imports/services/create-import.integration.test.ts
  src/modules/imports/services/create-import.ts
Due: typecheck, lint, format

refactor(ui): migrate import upload dialog to TanStack Form
  messages/en-US.json
  src/modules/imports/components/column-mapper.tsx
  src/modules/imports/components/import-upload-dialog.tsx
Due: typecheck, lint, format

test(finance): add validateMapping unit tests
  src/modules/imports/components/column-mapper.test.ts
Due: typecheck, lint, format

docs: add task workflow and validator timing guide
  AGENTS.md
  docs/development/components/tanstack.md
Due: lint-md, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

refactor(config): migrate env management from arkenv + dotenvx to varlock
  .claude/rules/env.md
  .env.example
  .env.schema
  .github/actions/ci-prepare/action.yml
  .gitignore
  .oxlintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docker-compose.yml
  docs/CONTRIBUTING.md
  docs/adr/0005-email-react-email-and-brevo.md
  docs/development/e2e/README.md
  docs/development/env.md
  docs/development/logging.md
  docs/development/testing.md
  drizzle.config.ts
  e2e/setup/db.setup.ts
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/configs/env.test.ts
  src/configs/env.ts
  src/db/index.ts
  src/lib/analytics-server.ts
  src/lib/analytics.tsx
  src/lib/auth/server.ts
  src/lib/email.ts
  src/lib/logging/client-logger.test.ts
  src/lib/logging/client-logger.ts
  src/lib/logging/drain.ts
  src/lib/logging/hash.ts
  src/routes/_demo/route.tsx
  src/routes/api/ingest/$.ts
  src/vite-env.d.ts
  test/global-setup.ts
  test/setup.ts
  vite.config.ts
  vitest.config.ts
Due: typecheck, lint, lint-md, format

fix(finance): add orderBy to batch insert test query
  src/modules/imports/services/create-import.integration.test.ts
Due: typecheck, lint, format

fix(config): address PR review findings
  .env.schema
  docs/development/env.md
  package.json
  src/lib/logging/client-logger.ts
  src/lib/logging/drain.ts
Due: typecheck, lint, lint-md, format

fix(config): set APP_ENV=test for both build and start in E2E
  playwright.config.ts
Due: typecheck, lint, format

refactor(config): remove DEMO_PAGES env var, use APP_ENV instead
  .env.schema
  src/routes/_demo/route.tsx
Due: typecheck, lint, format

refactor(auth): use ENV.APP_ENV instead of process.env.NODE_ENV
  src/lib/auth/server.ts
Due: typecheck, lint, format

fix(ci): generate varlock types and set APP_ENV=test in CI
  .github/actions/ci-prepare/action.yml
  .github/workflows/ci.yml
Due: none

fix(db): add DATABASE_URL guard to drizzle.config.ts
  drizzle.config.ts
Due: typecheck, lint, format

fix(ci): set APP_ENV=test at workflow level
  .github/actions/ci-prepare/action.yml
  .github/workflows/ci.yml
Due: none
