Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck --pretty false
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

fix(db): look constraint copy up in a Map so inherited names cannot match
  src/lib/db/pg-error.test.ts
  src/lib/db/pg-error.ts
Due: typecheck, lint, format

refactor: enforce the constraint-message contract and validate CLIENT_LOG_LEVEL (#78)
  .claude/rules/database.md
  .env.schema
  docs/development/env.md
  src/lib/db/pg-error.test.ts
  src/lib/db/pg-error.ts
  src/lib/logging/client-logger.test.ts
  src/lib/logging/client-logger.ts
  src/modules/accounts/db/schema.integration.test.ts
  src/modules/accounts/db/schema.ts
  src/modules/budgets/db/schema.ts
  src/modules/categories/db/schema.integration.test.ts
  src/modules/categories/db/schema.ts
  src/modules/payees/db/schema.ts
  src/modules/payees/services/create-payee-alias.integration.test.ts
  src/modules/rules/db/schema.ts
  src/modules/rules/services/create-merchant-rule.integration.test.ts
  src/modules/rules/services/schema.integration.test.ts
  src/modules/transactions/db/schema.integration.test.ts
  src/modules/transactions/db/schema.ts
  src/modules/transfers/db/schema.ts
Due: typecheck, lint, lint-md, format

fix(env): stop preventLeaks throwing on the app's own origin
  .env.schema
  src/lib/start/csrf.ts
Due: typecheck, lint, format

fix(env): stop preventLeaks throwing on the app's own origin (#79)
  .env.schema
  src/lib/start/csrf.ts
Due: typecheck, lint, format

fix(env): right-size @sensitive and stop public vars baking into the build
  .claude/rules/env.md
  .env.schema
  Dockerfile
  README.md
  docs/development/env.md
  docs/development/logging.md
  docs/development/security.md
  src/lib/varlock-env-shim.ts
  vite.config.ts
Due: typecheck, lint, lint-md, format

docs(env): give each Coolify scope mismatch its own failure mode
  docs/development/env.md
Due: lint-md, format

fix(env): right-size @sensitive and stop public vars baking into the build (#80)
  .claude/rules/env.md
  .env.schema
  Dockerfile
  README.md
  docs/development/env.md
  docs/development/logging.md
  docs/development/security.md
  src/lib/varlock-env-shim.ts
  vite.config.ts
Due: typecheck, lint, lint-md, format

fix(ci): send the Coolify deploy webhook as POST
  .github/workflows/deploy.yml
Due: none

fix(ci): send the Coolify deploy webhook as POST (#81)
  .github/workflows/deploy.yml
Due: none

chore(tooling): ignore review-cycle 0.10.0 state markers
  .gitignore
Due: none

chore(tooling): ignore review-cycle 0.10.0 state markers (#83)
  .gitignore
Due: none

docs(tooling): require backticks around sigils in GitHub prose
  docs/development/code-standards.md
Due: lint-md, format

docs(tooling): require backticks around sigils in GitHub prose (#82)
  docs/development/code-standards.md
Due: lint-md, format
