Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck --pretty false

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

chore(deps): bump react-day-picker to v10
  package.json
  pnpm-lock.yaml
  src/components/ui/calendar.tsx
Due: typecheck, lint, format

chore(tooling): init review-cycle policies and gitignore entries
  .gitignore
  AGENTS.md
Due: lint-md, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump dependencies
  .nvmrc
  Dockerfile
  package.json
  pnpm-lock.yaml
  test/setup.ts
Due: typecheck, lint, format

chore(tooling): route jsx-a11y/no-redundant-roles through eslint
  .oxlintrc.json
  eslint.config.js
  src/components/ui/input-group.tsx
  src/hooks/use-hydrated.test.ts
  src/modules/rules/components/payee-aliases-tab.tsx
Due: typecheck, lint, format

feat(a11y): label icon-only controls and bump oxlint to 1.66
  messages/en-US.json
  package.json
  pnpm-lock.yaml
  src/components/data-grid/column-filter.tsx
  src/components/data-grid/table.tsx
  src/components/filters/index.tsx
  src/components/filters/submenu.tsx
  src/components/filters/value-selector.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/combobox.tsx
  src/components/ui/confirm-destructive-dialog.tsx
  src/components/ui/date-picker.tsx
  src/components/ui/dialog.tsx
  src/components/ui/pagination.tsx
  src/components/ui/sheet.tsx
  src/components/ui/spinner.tsx
  src/modules/accounts/components/account-form.tsx
  src/modules/auth/components/linked-accounts-section.tsx
  src/modules/auth/components/profile-email-section.tsx
  src/modules/auth/components/profile-name-form.tsx
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
  src/modules/categories/components/category-form.tsx
  src/modules/imports/components/editable-cell.tsx
  src/modules/rules/components/action-card.tsx
  src/modules/rules/components/match-builder.tsx
  src/modules/transactions/components/split-dialog.tsx
  src/modules/transactions/components/transaction-form.tsx
  src/routes/_demo/components/forms.tsx
  src/routes/_demo/components/layout.tsx
  src/routes/_demo/components/overlays.tsx
Due: typecheck, lint, format

chore(deps): bump dependencies, work around TanStack/devtools#444
  package.json
  pnpm-lock.yaml
  src/lib/devtools.tsx
  src/routes/__root.tsx
Due: typecheck, lint, format

feat(auth): add explicit CSRF middleware via createCsrfMiddleware
  src/lib/auth/server.ts
  src/lib/start/csrf.test.ts
  src/lib/start/csrf.ts
  src/routeTree.gen.ts
  src/routes/api/ingest/$.ts
  src/start.ts
Due: typecheck, lint, format

docs(agents): add Surgical Changes policy + TaskCreate dual-tracking note
  AGENTS.md
Due: lint-md, format

chore(env): gitignore .pnpm-store sidecar from codex sandbox
  .gitignore
Due: none

refactor(ui): consolidate mutation toast/log/invalidate via useResourceMutation
  messages/en-US.json
  src/components/filters/operators.tsx
  src/hooks/use-resource-mutation.test.tsx
  src/hooks/use-resource-mutation.ts
  src/lib/i18n/messages.ts
  src/modules/accounts/hooks/use-accounts.ts
  src/modules/budgets/hooks/use-budgets.ts
  src/modules/categories/hooks/use-categories.ts
  src/modules/imports/hooks/use-imports.ts
  src/modules/payees/hooks/use-payee-aliases.ts
  src/modules/preferences/hooks/use-preferences.ts
  src/modules/rules/hooks/use-merchant-rules.ts
  src/modules/transactions/hooks/use-transactions.ts
Due: typecheck, lint, format

chore(tooling): add react-doctor as on-demand React analyzer skill
  .claude/skills/react-doctor/SKILL.md
  package.json
  pnpm-lock.yaml
Due: lint-md, format

chore(config): disable msgpackr-extract build script
  pnpm-workspace.yaml
Due: none

test(finance): order audit-log queries by id to fix flaky assertion
  src/modules/preferences/services/update-preferences.integration.test.ts
Due: typecheck, lint, format

chore(deps): bump dependencies, trim pnpm overrides, migrate react-doctor config
  .gitignore
  doctor.config.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): bump dependencies, sync Dockerfile pins, fix oxlint config
  .nvmrc
  .oxlintrc.json
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/routeTree.gen.ts
Due: typecheck, format

refactor: remove redundant type assertions
  src/components/data-grid/index.tsx
  src/components/ui/chart.tsx
  src/components/ui/phone-input.tsx
  src/lib/db/pg-error.ts
  src/lib/logging/drain.ts
  src/lib/varlock-env-shim.ts
  src/modules/accounts/services/create-account.ts
  src/modules/accounts/services/delete-account.ts
  src/modules/accounts/services/update-account.ts
  src/modules/auth/emails/email-render.test.ts
  src/modules/budgets/services/copy-budget-period.ts
  src/modules/budgets/services/create-budget-line.ts
  src/modules/budgets/services/create-budget-period.ts
  src/modules/budgets/services/delete-budget-line.ts
  src/modules/budgets/services/delete-budget-period.ts
  src/modules/budgets/services/update-budget-line.ts
  src/modules/budgets/services/update-budget-period.ts
  src/modules/categories/services/create-category.ts
  src/modules/categories/services/delete-category.ts
  src/modules/categories/services/update-category.ts
  src/modules/imports/services/commit-import.ts
  src/modules/imports/services/create-import.ts
  src/modules/imports/services/delete-import.ts
  src/modules/preferences/services/update-preferences.ts
  src/modules/rules/components/match-builder.tsx
  src/modules/rules/services/create-merchant-rule.ts
  src/modules/rules/services/delete-merchant-rule.ts
  src/modules/rules/services/fold-actions.ts
  src/modules/rules/services/reorder-merchant-rules.ts
  src/modules/rules/services/toggle-merchant-rule.ts
  src/modules/rules/services/update-merchant-rule.ts
  src/modules/transactions/services/create-transaction.ts
  src/modules/transactions/services/delete-transaction.ts
  src/modules/transactions/services/split-transaction.ts
  src/modules/transactions/services/unsplit-transaction.ts
  src/modules/transactions/services/update-split-lines.ts
  src/modules/transactions/services/update-transaction.ts
  test/integration-setup.ts
Due: typecheck, lint, format

test: bound e2e web server shutdown
  playwright.config.ts
Due: typecheck, lint, format

chore(tooling): replace deprecated varlock typegen with codegen
  .github/actions/ci-prepare/action.yml
  Dockerfile
Due: none

refactor(ui): migrate chart component to recharts 3
  package.json
  pnpm-lock.yaml
  src/components/ui/chart.tsx
Due: typecheck, lint, format

chore(deps): bump markdownlint-cli2 to 0.23.2
  package.json
  pnpm-lock.yaml
Due: format

chore(tooling): bump oxfmt to 0.63.0
  AGENTS.md
  docs/development/database.md
  package.json
  pnpm-lock.yaml
  src/modules/auth/components/danger-zone-section.tsx
Due: typecheck, lint, lint-md, format

chore(deps): bump eslint-plugin-unicorn to 73.0.0
  package.json
  pnpm-lock.yaml
Due: format

chore(tooling): expand unicorn rules and move three to native
  .oxlintrc.json
Due: format

chore(tooling): enforce no-barrel-files with scoped exemptions
  .oxlintrc.json
Due: format

chore(deps): bump cookie to 2.0.1
  package.json
  pnpm-lock.yaml
  src/lib/cookies.ts
Due: typecheck, lint, format

chore(deps): bump jsdom to 30.0.1
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump @tanstack/react-pacer to 0.23.0
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump @tanstack/devtools-vite to 0.8.3
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): align @types/node with the Node 24 runtime
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump react-doctor to 0.9.12
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump @getbrevo/brevo to 6.0.3
  package.json
  pnpm-lock.yaml
Due: format

fix(tests): stop e2e runs hanging after the summary prints
  playwright.config.ts
Due: typecheck, lint, format

fix(tests): stop e2e runs hanging after the summary prints (#45)
  playwright.config.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
