Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck --pretty false

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

fix(logging): route client events through the ingest proxy
  src/lib/analytics.tsx
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

fix(logging): make hash helpers browser-safe
  package.json
  pnpm-lock.yaml
  src/lib/logging/hash.ts
  src/modules/imports/lib/compute-row-fingerprint.ts
Due: typecheck, lint, format

fix(ui): improve data grid pagination layout
  src/components/data-grid/pagination.tsx
Due: typecheck, lint, format

fix(ui): make imports list rows clickable
  docs/development/components/behavior.md
  e2e/app/imports.test.ts
  src/components/data-grid/table.tsx
  src/modules/imports/components/imports-data-grid.tsx
Due: typecheck, lint, lint-md, format

fix(ui): prevent sidebar inset from overflowing viewport
  src/components/ui/sidebar.tsx
Due: typecheck, lint, format

fix(tests): auto-migrate e2e database before seeding
  e2e/setup/db.setup.ts
Due: typecheck, lint, format

fix(finance): hint when no accounts are available in import upload
  messages/en-US.json
  src/modules/imports/components/import-upload-dialog.tsx
Due: typecheck, lint, format

style(finance): pad the no-accounts empty state in import upload
  src/modules/imports/components/import-upload-dialog.tsx
Due: typecheck, lint, format

fix(ui): strengthen dark-mode elevation for selects and popovers
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/styles/globals.css
Due: typecheck, lint, format

fix(ui): tighten dialog footer vertical padding
  src/components/ui/dialog.tsx
Due: typecheck, lint, format

docs(components): document the dialog form + footer pattern
  docs/development/components/tanstack.md
Due: lint-md, format

refactor(finance): restructure import upload dialog to match project form+dialog pattern
  src/modules/imports/components/import-upload-dialog.tsx
Due: typecheck, lint, format

fix(finance): add review action to import upload success toast
  src/modules/imports/hooks/use-imports.ts
Due: typecheck, lint, format

fix(ui): match alert dialog footer padding to dialog footer
  src/components/ui/alert-dialog.tsx
Due: typecheck, lint, format

fix(ui): prevent column mapper preview table from overflowing dialog
  src/modules/imports/components/column-mapper-preview.tsx
  src/modules/imports/components/import-upload-dialog.tsx
Due: typecheck, lint, format

chore(deps): bump minor and patch versions
  package.json
  pnpm-lock.yaml
  src/lib/logging/client-logger.test.ts
  src/lib/logging/client-logger.ts
Due: typecheck, lint, format

chore(tooling): enable unicorn/consistent-template-literal-escape
  .oxlintrc.json
Due: format

docs(sync): plan pluggable adapter architecture
  docs/adr/0023-sync-plugin-architecture.md
  docs/adr/README.md
  docs/research/0005-copilot-comparison.md
  docs/research/README.md
  docs/specs/0001-sync-module.md
  docs/specs/README.md
Due: lint-md, format

docs(adr): extract payees into its own module
  docs/adr/0024-extract-payees-module.md
  docs/adr/README.md
  docs/specs/0001-sync-module.md
Due: lint-md, format

docs(research): compare Actual Budget and kingfisherfox/budget
  docs/research/0006-oss-budget-apps.md
  docs/research/README.md
Due: lint-md, format

docs: plan data and UX for scaffolded finance modules
  docs/adr/0025-transfer-model.md
  docs/adr/0026-debt-strategy-rank.md
  docs/adr/0027-rules-action-schema.md
  docs/adr/README.md
  docs/specs/0002-rules-module.md
  docs/specs/0003-debt-module.md
  docs/specs/0004-transfers-module.md
  docs/specs/0005-promotions-module.md
  docs/specs/0006-statements-module.md
  docs/specs/README.md
Due: lint-md, format

docs: close recurring, rules-stage, and off-budget gaps from research
  docs/adr/0027-rules-action-schema.md
  docs/specs/0002-rules-module.md
  docs/specs/0004-transfers-module.md
  docs/specs/0007-recurring-detection.md
  docs/specs/README.md
Due: lint-md, format

docs: fold merchant cleanup and logos into existing planning docs
  docs/adr/0024-extract-payees-module.md
  docs/adr/0027-rules-action-schema.md
  docs/specs/0002-rules-module.md
Due: lint-md, format

docs(ideas): park standalone research ideas for later specs
  docs/ideas/0001-net-worth-history.md
  docs/ideas/0002-envelope-budgeting.md
  docs/ideas/0003-goal-templates.md
  docs/ideas/0004-wishlist.md
  docs/ideas/0005-household-access.md
  docs/ideas/README.md
Due: lint-md, format

docs: cross-reference Trekker epics and tasks in planning docs
  docs/adr/0023-sync-plugin-architecture.md
  docs/adr/0024-extract-payees-module.md
  docs/adr/0025-transfer-model.md
  docs/adr/0026-debt-strategy-rank.md
  docs/adr/0027-rules-action-schema.md
  docs/ideas/0001-net-worth-history.md
  docs/ideas/0002-envelope-budgeting.md
  docs/ideas/0003-goal-templates.md
  docs/ideas/0004-wishlist.md
  docs/specs/0001-sync-module.md
  docs/specs/0002-rules-module.md
  docs/specs/0003-debt-module.md
  docs/specs/0004-transfers-module.md
  docs/specs/0005-promotions-module.md
  docs/specs/0006-statements-module.md
  docs/specs/0007-recurring-detection.md
Due: lint-md, format

chore(deps): bump minor and patch versions
  package.json
  pnpm-lock.yaml
Due: format

refactor(finance): extract payees into own module
  src/db/schema.ts
  src/modules/auth/db/relations.ts
  src/modules/auth/middleware-chain.test.ts
  src/modules/export/services/gather-user-data.ts
  src/modules/imports/services/commit-import.ts
  src/modules/payees/api/create-payee.ts
  src/modules/payees/api/list-payees.ts
  src/modules/payees/db/relations.ts
  src/modules/payees/db/schema.ts
  src/modules/payees/hooks/use-payees.ts
  src/modules/payees/lib/resolve-payee.ts
  src/modules/payees/models.ts
  src/modules/payees/services/create-payee.integration.test.ts
  src/modules/payees/services/create-payee.ts
  src/modules/payees/services/list-payees.integration.test.ts
  src/modules/payees/services/list-payees.ts
  src/modules/payees/validators.ts
  src/modules/rules/db/relations.ts
  src/modules/rules/db/schema.ts
  src/modules/transactions/components/create-transaction-dialog.tsx
  src/modules/transactions/components/edit-transaction-dialog.tsx
  src/modules/transactions/components/transaction-form.tsx
  src/modules/transactions/db/relations.ts
  src/modules/transactions/db/schema.ts
  src/modules/transactions/hooks/use-transactions.ts
  src/modules/transactions/lib/resolve-payee-tags.integration.test.ts
  src/modules/transactions/models.ts
  src/modules/transactions/services/create-transaction.ts
  src/modules/transactions/services/list-transactions.integration.test.ts
  src/modules/transactions/services/update-transaction.ts
  src/modules/transactions/validators.ts
  src/routes/_app/transactions.tsx
  test/factories/payee.factory.ts
  test/factories/transaction-with-relations.factory.ts
  test/scenarios/monthly-spending.ts
Due: typecheck, lint, format

refactor(db): type PG error codes and unique-index names
  .claude/rules/database.md
  docs/development/database.md
  src/lib/db/pg-error.ts
  src/modules/accounts/db/schema.ts
  src/modules/budgets/db/schema.ts
  src/modules/categories/db/schema.ts
  src/modules/imports/services/commit-import.ts
  src/modules/payees/db/schema.ts
  src/modules/payees/services/create-payee.ts
  src/modules/preferences/services/bootstrap.ts
  src/modules/transactions/db/schema.ts
  src/modules/transactions/services/create-tag.ts
Due: typecheck, lint, lint-md, format

chore(tooling): autoload varlock in drizzle config and add db:reset
  .oxlintrc.json
  drizzle.config.ts
  package.json
  scripts/migrate.mjs
  scripts/reset.ts
  test/seed/seed-runner.ts
Due: typecheck, lint, format

feat(db): migrate merchant_rules to JSONB match and actions with stage
  .claude/rules/database.md
  drizzle/0016_striped_thunderbolt.sql
  drizzle/meta/0016_snapshot.json
  drizzle/meta/_journal.json
  src/modules/categories/db/relations.ts
  src/modules/export/services/format-csv.ts
  src/modules/payees/db/relations.ts
  src/modules/rules/db/relations.ts
  src/modules/rules/db/schema.ts
  src/modules/rules/models.test.ts
  src/modules/rules/models.ts
Due: typecheck, lint, lint-md, format

feat(rules): services for merchant-rule CRUD and rule_runs audit table
  drizzle/0017_sleepy_tempest.sql
  drizzle/meta/0017_snapshot.json
  drizzle/meta/_journal.json
  src/lib/db/pg-error.ts
  src/modules/rules/db/relations.ts
  src/modules/rules/db/schema.ts
  src/modules/rules/models.test.ts
  src/modules/rules/models.ts
  src/modules/rules/services/create-merchant-rule.integration.test.ts
  src/modules/rules/services/create-merchant-rule.ts
  src/modules/rules/services/delete-merchant-rule.integration.test.ts
  src/modules/rules/services/delete-merchant-rule.ts
  src/modules/rules/services/reorder-merchant-rules.integration.test.ts
  src/modules/rules/services/reorder-merchant-rules.ts
  src/modules/rules/services/schema.integration.test.ts
  src/modules/rules/services/toggle-merchant-rule.integration.test.ts
  src/modules/rules/services/toggle-merchant-rule.ts
  src/modules/rules/services/update-merchant-rule.integration.test.ts
  src/modules/rules/services/update-merchant-rule.ts
  src/modules/rules/validators.test.ts
  src/modules/rules/validators.ts
  test/factories/merchant-rule-with-user.factory.ts
  test/factories/merchant-rule.factory.ts
  test/factories/rule-run.factory.ts
Due: typecheck, lint, format

feat(db): translate Postgres query_canceled (57014) to 422
  src/lib/db/pg-error.test.ts
  src/lib/db/pg-error.ts
  src/lib/server-fn/handle-error.ts
Due: typecheck, lint, format

feat(db): add DbTx helper type and GIN index on rule_runs.affected_transaction_ids
  drizzle/0018_sharp_leo.sql
  drizzle/meta/0018_snapshot.json
  drizzle/meta/_journal.json
  src/db/index.ts
  src/modules/rules/db/schema.ts
Due: typecheck, lint, format

feat(rules): server fns for list/preview/apply/undo merchant rules
  src/modules/auth/middleware-chain.test.ts
  src/modules/rules/api/apply-merchant-rule.ts
  src/modules/rules/api/create-merchant-rule.ts
  src/modules/rules/api/delete-merchant-rule.ts
  src/modules/rules/api/list-merchant-rules.ts
  src/modules/rules/api/preview-apply-merchant-rule.ts
  src/modules/rules/api/reorder-merchant-rules.ts
  src/modules/rules/api/toggle-merchant-rule.ts
  src/modules/rules/api/undo-rule-run.ts
  src/modules/rules/api/update-merchant-rule.ts
  src/modules/rules/models.test.ts
  src/modules/rules/models.ts
  src/modules/rules/services/apply-merchant-rule.integration.test.ts
  src/modules/rules/services/apply-merchant-rule.ts
  src/modules/rules/services/fold-actions.test.ts
  src/modules/rules/services/fold-actions.ts
  src/modules/rules/services/list-merchant-rules.integration.test.ts
  src/modules/rules/services/list-merchant-rules.ts
  src/modules/rules/services/match-predicate-sql.test.ts
  src/modules/rules/services/match-predicate-sql.ts
  src/modules/rules/services/preview-apply-merchant-rule.integration.test.ts
  src/modules/rules/services/preview-apply-merchant-rule.ts
  src/modules/rules/services/undo-rule-run.integration.test.ts
  src/modules/rules/services/undo-rule-run.ts
  src/modules/rules/validators.ts
Due: typecheck, lint, format

feat(rules): preview-match service and per-row exclude on apply
  src/modules/auth/middleware-chain.test.ts
  src/modules/rules/api/preview-match-merchant-rule.ts
  src/modules/rules/services/apply-merchant-rule.integration.test.ts
  src/modules/rules/services/apply-merchant-rule.ts
  src/modules/rules/services/match-predicate-sql.ts
  src/modules/rules/services/preview-match-merchant-rule.integration.test.ts
  src/modules/rules/services/preview-match-merchant-rule.ts
  src/modules/rules/validators.ts
Due: typecheck, lint, format

feat(rules): ui scaffolding for /rules route and mutation hooks
  messages/en-US.json
  src/components/icons.tsx
  src/modules/rules/components/payee-aliases-tab.tsx
  src/modules/rules/components/rules-empty.tsx
  src/modules/rules/components/rules-page-header.tsx
  src/modules/rules/hooks/use-merchant-rules.ts
  src/modules/rules/hooks/use-preview-match.ts
  src/routeTree.gen.ts
  src/routes/_app/rules.tsx
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
