Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck --pretty false

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

fix(test): update arkenv mock for v0.10 subpath removal
  src/configs/env.test.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore(tooling): add devtool package for tanstack forms
  package.json
  pnpm-lock.yaml
Due: format

fix: update to use router button address log warning
  src/components/errors/not-found.tsx
  src/components/errors/root-error-boundary.tsx
Due: typecheck, lint, format

docs: add CLAUDE.md for guidance on using Claude Code
  AGENTS.md
  CLAUDE.md
Due: lint-md, format

style: update how sort keys are handled
  .commitlintrc.js
  drizzle.config.ts
  eslint.config.js
  prettier.config.js
  src/configs/env.test.ts
  src/configs/env.ts
  src/hooks/use-file-upload.ts
  src/lib/auth.ts
  src/lib/cookies.test.ts
  src/lib/email.ts
  src/lib/error-ids.ts
  src/lib/i18n.test.ts
  src/lib/i18n.ts
  src/lib/logging/client-logger.test.ts
  src/lib/logging/drain.ts
  src/lib/logging/sanitize.test.ts
  src/modules/auth/email-render.ts
  src/modules/auth/email-service.tsx
  src/modules/auth/emails/base-email.tsx
  src/modules/auth/schema.ts
  src/modules/demo/components/data-table.tsx
  src/modules/finance/schema.ts
  src/modules/todos/schema.ts
  src/routes/_auth/signup.tsx
  src/routes/demo/better-auth.tsx
  src/routes/demo/drizzle.tsx
  src/routes/index.tsx
  vitest.config.ts
Due: typecheck, lint, format

style: remove trailingComma option from Prettier configuration because its the same as the default
  prettier.config.js
Due: lint, format

docs: update AGENTS.md and add Claude Code rules
  .claude/CLAUDE.md
  .claude/rules/database.md
  .claude/rules/env.md
  .claude/rules/i18n.md
  .claude/rules/logging.md
  .claude/rules/routes.md
  .claude/rules/server-functions.md
  .claude/rules/testing.md
  .claude/rules/ui-components.md
  .claude/settings.json
  .gitignore
  AGENTS.md
  src/lib/error-ids.test-d.ts
  src/lib/error-ids.ts
Due: typecheck, lint, lint-md, format

chore(config): update commitlint scopes, aliases, and prompt options
  .commitlintrc.js
  AGENTS.md
Due: lint, lint-md, format

docs: add Trekker task tracking section to AGENTS.md
  AGENTS.md
Due: lint-md, format

test(e2e): add Playwright E2E setup with CI integration
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  docs/development/testing.md
  e2e/smoke.test.ts
  e2e/tsconfig.json
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: typecheck, lint, lint-md, format

ci: fix cache conflict warnings by using restore-only in non-analysis jobs
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

test(tests): add Faker factories, scenarios, and seed runner
  AGENTS.md
  package.json
  pnpm-lock.yaml
  test/factories/base.ts
  test/factories/category.factory.ts
  test/factories/factories.test.ts
  test/factories/ledger-account.factory.ts
  test/factories/payee.factory.ts
  test/factories/tag.factory.ts
  test/factories/transaction.factory.ts
  test/factories/transfer.factory.ts
  test/factories/user.factory.ts
  test/scenarios/full-transaction.ts
  test/scenarios/monthly-spending.ts
  test/scenarios/multi-account-user.ts
  test/seed/reset.ts
  test/seed/seed-runner.ts
  tsconfig.json
  vitest.config.ts
Due: typecheck, lint, lint-md, format

fix(db): align auth timestamps with finance conventions and add missing constraints
  drizzle/0002_closed_weapon_omega.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  scripts/postprocess-auth-schema.ts
  src/modules/auth/schema.ts
  src/modules/finance/schema.ts
Due: typecheck, lint, format

feat(db): add Drizzle relations for all modules
  .claude/rules/database.md
  AGENTS.md
  docs/adr/0008-auth-ids-uuidv7-nanoid.md
  docs/adr/0010-database-conventions.md
  docs/development/database.md
  package.json
  scripts/postprocess-auth-schema.ts
  src/db/schema.ts
  src/modules/auth/relations.ts
  src/modules/auth/schema.ts
  src/modules/finance/relations.ts
  src/modules/todos/relations.ts
Due: typecheck, lint, lint-md, format

feat(routes): refactor layout system with composable shells and auth guards
  .claude/rules/routes.md
  AGENTS.md
  docs/development/routing.md
  src/components/header.tsx
  src/components/icons.tsx
  src/components/layouts/app-sidebar.tsx
  src/components/layouts/app/app-header.tsx
  src/components/layouts/app/app-sidebar.tsx
  src/components/layouts/shells/default-shell.tsx
  src/components/layouts/shells/sidebar-shell.tsx
  src/components/nav/nav-documents.tsx
  src/components/nav/nav-main.tsx
  src/components/nav/nav-secondary.tsx
  src/components/nav/nav-user.tsx
  src/components/ui/link.tsx
  src/components/ui/sidebar.tsx
  src/hooks/use-sign-out.ts
  src/integrations/better-auth/header-user.tsx
  src/modules/auth/api/get-session.ts
  src/modules/auth/middleware.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/_app/dashboard.tsx
  src/routes/_app/route.tsx
  src/routes/_auth/login.tsx
  src/routes/_auth/route.tsx
  src/routes/_auth/signup.tsx
  src/routes/_public/index.tsx
  src/routes/_public/route.tsx
  src/routes/demo/dashboard.tsx
Due: typecheck, lint, lint-md, format

feat(ui): add Timestamp component, formatting utilities, and hooks
  package.json
  pnpm-lock.yaml
  src/components/ui/timestamp.tsx
  src/hooks/use-copy-to-clipboard.ts
  src/hooks/use-network.test.ts
  src/hooks/use-network.ts
  src/lib/i18n.test.ts
  src/lib/i18n.ts
Due: typecheck, lint, format

docs(routes): add URL-driven UI state conventions and update hook/component docs
  .claude/rules/i18n.md
  AGENTS.md
  docs/development/routing.md
Due: lint-md, format

feat(deps): add zustand and document state management hierarchy
  AGENTS.md
  package.json
  pnpm-lock.yaml
Due: lint-md, format

feat(auth): add cross-tab sign-out via BroadcastChannel hook
  src/hooks/use-broadcast-channel.test.ts
  src/hooks/use-broadcast-channel.ts
  src/hooks/use-sign-out.ts
Due: typecheck, lint, format

docs(docs): add storage convention, pacer usage, and hook documentation
  AGENTS.md
  docs/development/cookies.md
  docs/development/routing.md
Due: lint-md, format

fix(ui): address PR review issues across auth, clipboard, and UI components
  .claude/settings.json
  src/components/layouts/shells/default-shell.tsx
  src/components/nav/nav-user.tsx
  src/components/ui/timestamp.tsx
  src/hooks/use-copy-to-clipboard.ts
  src/routes/_auth/login.tsx
  src/routes/_auth/route.tsx
Due: typecheck, lint, format

refactor(db): organize module files into db/, emails/, and hooks/ subdirectories
  AGENTS.md
  docs/development/database.md
  docs/development/emails.md
  package.json
  scripts/postprocess-auth-schema.ts
  src/db/schema.ts
  src/lib/auth.ts
  src/modules/auth/db/relations.ts
  src/modules/auth/db/schema.ts
  src/modules/auth/emails/email-render.ts
  src/modules/auth/emails/email-service.tsx
  src/modules/auth/hooks/use-sign-out.ts
  src/modules/finance/db/relations.ts
  src/modules/finance/db/schema.ts
  src/modules/todos/db/relations.ts
  src/modules/todos/db/schema.ts
Due: typecheck, lint, lint-md, format

test(tests): add tests for useCopyToClipboard, useFileUpload, and useSignOut hooks
  src/hooks/use-copy-to-clipboard.test.ts
  src/hooks/use-file-upload.hook.test.ts
  src/modules/auth/hooks/use-sign-out.test.ts
Due: typecheck, lint, format

docs(docs): refactor documentation with progressive disclosure and fix stale references
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/PLAN.md
  docs/README.md
  docs/adr/README.md
  docs/development/architecture.md
  docs/development/auth.md
  docs/development/code-standards.md
  docs/development/components/README.md
  docs/development/components/examples/form.md
  docs/development/data-compliance.md
  docs/development/database.md
  docs/development/definition-of-done.md
  docs/development/design-tokens.md
  docs/development/emails.md
  docs/development/env.md
  docs/development/i18n.md
  docs/development/logging.md
  docs/development/permissions.md
  docs/development/secrets.md
  docs/development/security.md
  docs/development/seo.md
  docs/development/styling.md
  docs/development/testing.md
  docs/development/timezones.md
  docs/development/toasts.md
  docs/development/workflows.md
Due: lint-md, format

fix(tests): update smoke test to match current page title
  e2e/smoke.test.ts
Due: typecheck, lint, format

chore(deps): bump @tanstack/react-start, arkenv, and @arkenv/vite-plugin
  package.json
  pnpm-lock.yaml
Due: format

feat(ui): add brand identity with logo, color palette, and dark mode favicon
  .claude/rules/svg.md
  AGENTS.md
  docs/development/svg.md
  e2e/a11y.test.ts
  messages/en-US.json
  package.json
  pnpm-lock.yaml
  public/drizzle.svg
  public/favicon.ico
  public/logo-dark.svg
  public/logo.svg
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/tanstack-circle-logo.png
  public/tanstack-word-logo-white.svg
  src/components/layouts/app/app-sidebar.tsx
  src/components/layouts/shells/default-shell.tsx
  src/components/logo.tsx
  src/routes/__root.tsx
  src/routes/_public/index.tsx
  src/styles/globals.css
Due: typecheck, lint, lint-md, format

chore(i18n): remove VITE_APP_TITLE env var and document message key naming
  .env.example
  docs/development/i18n.md
  src/configs/env.ts
Due: typecheck, lint, lint-md, format

fix(ui): polish Empty and Skeleton components for a11y, responsive, and design consistency
  docs/development/components/implementation.md
  src/components/ui/empty.tsx
  src/components/ui/skeleton.tsx
Due: typecheck, lint, lint-md, format

fix(tooling): remove file type glob from Prettier pre-commit hook
  lefthook.yml
  src/styles/globals.css
Due: none

refactor(ui): split filters monolith, migrate i18n to Paraglide, centralize icons
  .claude/rules/ui-components.md
  docs/development/code-standards.md
  messages/en-US.json
  src/components/data-grid/data-grid-column-filter.tsx
  src/components/data-grid/data-grid-column-header.tsx
  src/components/data-grid/data-grid-column-visibility.tsx
  src/components/data-grid/data-grid-pagination.tsx
  src/components/data-grid/data-grid-table-dnd-rows.tsx
  src/components/data-grid/data-grid-table-dnd.tsx
  src/components/data-grid/data-grid-table.tsx
  src/components/data-grid/data-grid.tsx
  src/components/filters/content.tsx
  src/components/filters/context.tsx
  src/components/filters/helpers.tsx
  src/components/filters/index.tsx
  src/components/filters/input.tsx
  src/components/filters/operators.tsx
  src/components/filters/remove-button.tsx
  src/components/filters/submenu.tsx
  src/components/filters/types.tsx
  src/components/filters/value-selector.tsx
  src/components/icons.tsx
  src/components/ui/filters.tsx
  src/components/ui/native-select.tsx
  src/components/ui/tree.tsx
  src/modules/demo/components/data-table.tsx
Due: typecheck, lint, lint-md, format

refactor(ui): clean up data-grid with renames, Paraglide i18n, and dedup
  .claude/rules/ui-components.md
  messages/en-US.json
  src/components/data-grid/column-filter.tsx
  src/components/data-grid/column-header.tsx
  src/components/data-grid/column-visibility.tsx
  src/components/data-grid/index.tsx
  src/components/data-grid/pagination.tsx
  src/components/data-grid/table-dnd-rows.tsx
  src/components/data-grid/table-dnd.tsx
  src/components/data-grid/table.tsx
  src/components/ui/spinner.tsx
  src/modules/demo/components/data-table.tsx
Due: typecheck, lint, lint-md, format

feat(auth): overhaul auth pages with form extraction, OAuth, and error handling
  .editorconfig
  .env.example
  README.md
  docs/development/auth.md
  docs/development/logging.md
  docs/development/routing.md
  docs/development/security.md
  docs/development/testing.md
  e2e/a11y.test.ts
  messages/en-US.json
  package.json
  pnpm-lock.yaml
  src/components/icons.tsx
  src/components/layouts/app/app-sidebar.tsx
  src/components/layouts/shells/default-shell.tsx
  src/components/logo.tsx
  src/components/ui/button.tsx
  src/components/ui/link.tsx
  src/components/ui/password-input.tsx
  src/configs/app.ts
  src/configs/arktype.ts
  src/configs/env.ts
  src/lib/auth.ts
  src/lib/logging/client-logger.test.ts
  src/lib/logging/client-logger.ts
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
  src/modules/auth/components/social-sign-in.tsx
  src/modules/auth/hooks/use-sign-out.test.ts
  src/modules/auth/hooks/use-sign-out.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_app/route.tsx
  src/routes/_auth/login.tsx
  src/routes/_auth/sign-in.tsx
  src/routes/_auth/sign-up.tsx
  src/routes/_auth/signup.tsx
  src/routes/_public/index.tsx
Due: typecheck, lint, lint-md, format

feat(ui): add ConfirmDestructiveDialog for type-to-confirm destructive actions
  docs/development/components/README.md
  docs/development/components/examples/confirm-destructive-dialog.md
  messages/en-US.json
  package.json
  pnpm-lock.yaml
  src/components/ui/confirm-destructive-dialog.test.tsx
  src/components/ui/confirm-destructive-dialog.tsx
Due: typecheck, lint, lint-md, format

feat(logging): add audit logging helpers for insert, soft-delete, and event logging
  src/db/index.ts
  src/lib/audit/insert-audit-log.test.ts
  src/lib/audit/insert-audit-log.ts
  src/lib/audit/log-audit-event.test.ts
  src/lib/audit/log-audit-event.ts
  src/lib/audit/soft-delete.test.ts
  src/lib/audit/soft-delete.ts
  src/lib/audit/types.ts
Due: typecheck, lint, format

feat(tests): add integration test infra with transaction rollback isolation
  .github/actions/test-prepare/action.yml
  .github/workflows/ci.yml
  AGENTS.md
  docs/development/testing.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  test/db.ts
  test/factories/factories.integration.test.ts
  test/global-setup.ts
  test/integration-setup.ts
  test/scenarios/scenarios.integration.test.ts
  test/seed/seed-runner.ts
  vitest.config.ts
Due: typecheck, lint, lint-md, format

docs: replace emdashes with colons and trim AI-isms across docs
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/adr/0012-finance-data-model.md
  docs/development/architecture.md
  docs/development/auth.md
  docs/development/code-standards.md
  docs/development/components/README.md
  docs/development/cookies.md
  docs/development/data-compliance.md
  docs/development/logging.md
  docs/development/svg.md
  docs/development/testing.md
Due: lint-md, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
