Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck --pretty false

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

refactor(finance): extract service layer for accounts module
  src/modules/accounts/api/accounts.integration.test.ts
  src/modules/accounts/api/create-account.ts
  src/modules/accounts/api/delete-account.ts
  src/modules/accounts/api/get-credit-card-catalog.ts
  src/modules/accounts/api/list-accounts.ts
  src/modules/accounts/api/update-account.ts
  src/modules/accounts/services/accounts-services.integration.test.ts
  src/modules/accounts/services/create-account.ts
  src/modules/accounts/services/delete-account.ts
  src/modules/accounts/services/list-accounts.ts
  src/modules/accounts/services/update-account.ts
Due: typecheck, lint, format

refactor(finance): extract service layer for categories module
  src/modules/categories/api/categories.integration.test.ts
  src/modules/categories/api/create-category.ts
  src/modules/categories/api/delete-category.ts
  src/modules/categories/api/list-categories.ts
  src/modules/categories/api/update-category.ts
  src/modules/categories/services/categories-services.integration.test.ts
  src/modules/categories/services/create-category.ts
  src/modules/categories/services/delete-category.ts
  src/modules/categories/services/list-categories.ts
  src/modules/categories/services/update-category.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

refactor(finance): extract service layer for payees and tags modules
  src/modules/transactions/api/create-payee.ts
  src/modules/transactions/api/create-tag.ts
  src/modules/transactions/api/list-payees.ts
  src/modules/transactions/api/list-tags.ts
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/services/create-payee.ts
  src/modules/transactions/services/create-tag.ts
  src/modules/transactions/services/list-payees.ts
  src/modules/transactions/services/list-tags.ts
  src/modules/transactions/services/payees-tags-services.integration.test.ts
Due: typecheck, lint, format

refactor(finance): move payee/tag validation schemas to validators.ts
  src/modules/transactions/api/create-payee.ts
  src/modules/transactions/api/create-tag.ts
  src/modules/transactions/services/create-payee.ts
  src/modules/transactions/services/create-tag.ts
  src/modules/transactions/validators.ts
Due: typecheck, lint, format

test(tests): add currency and status transition tests for accounts
  src/modules/accounts/services/accounts-services.integration.test.ts
Due: typecheck, lint, format

test(tests): trim transaction API tests and relocate lib tests
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/api/transactions.integration.test.ts
  src/modules/transactions/lib/resolve-payee-tags.integration.test.ts
  src/modules/transactions/services/transactions-services.integration.test.ts
Due: typecheck, lint, format

test(tests): move DB constraint tests to db/, delete redundant throwIfConstraintViolation tests
  docs/development/testing.md
  src/lib/db/pg-error.test.ts
  src/modules/accounts/api/accounts.integration.test.ts
  src/modules/accounts/db/schema.integration.test.ts
  src/modules/categories/api/categories.integration.test.ts
  src/modules/categories/db/schema.integration.test.ts
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/db/schema.integration.test.ts
Due: typecheck, lint, lint-md, format

fix(tests): clean up lingering Sonner toasts between E2E setup and test
  docs/development/e2e/README.md
  docs/development/toasts.md
  e2e/app/transactions.test.ts
Due: typecheck, lint, lint-md, format

fix(auth): fix cross-tab sign-out on mobile viewports
  docs/development/architecture.md
  e2e/auth/sign-out.test.ts
  src/components/layouts/shells/sidebar-shell.tsx
  src/modules/auth/constants.ts
  src/modules/auth/hooks/use-sign-out-listener.test.ts
  src/modules/auth/hooks/use-sign-out-listener.ts
  src/modules/auth/hooks/use-sign-out.test.ts
  src/modules/auth/hooks/use-sign-out.ts
Due: typecheck, lint, lint-md, format

fix(tests): dismiss toast via DOM removal instead of waiting for auto-hide
  e2e/app/transactions.test.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(tests): use toBeHidden with longer timeout instead of DOM removal mid-test
  docs/development/e2e/README.md
  e2e/app/transactions.test.ts
Due: typecheck, lint, lint-md, format

fix(tests): click close button to dismiss toast instead of waiting for auto-hide
  e2e/app/transactions.test.ts
Due: typecheck, lint, format

feat(ui): add close button to Sonner toast notifications
  src/components/ui/sonner.tsx
Due: typecheck, lint, format

fix(tests): scope category deletion assertion to table
  e2e/app/categories.test.ts
Due: typecheck, lint, format

feat(ui): improve confirm phrase display with click-to-copy
  docs/development/components/examples/confirm-destructive-dialog.md
  messages/en-US.json
  src/components/ui/confirm-destructive-dialog.test.tsx
  src/components/ui/confirm-destructive-dialog.tsx
Due: typecheck, lint, lint-md, format

test(tests): add E2E tests for accounts CRUD
  e2e/app/accounts.test.ts
Due: typecheck, lint, format

refactor(finance): harden account/terms schema validators
  drizzle/0005_broad_plazm.sql
  drizzle/meta/0005_snapshot.json
  drizzle/meta/_journal.json
  src/lib/form/schema.test.ts
  src/lib/form/schema.ts
  src/modules/accounts/db/schema.ts
  src/modules/accounts/validators.test.ts
  src/modules/accounts/validators.ts
Due: typecheck, lint, format

feat(ui): add dev-only component demo pages with visual regression
  e2e/demo/components.test.ts
  src/routeTree.gen.ts
  src/routes/_demo/components/layout.tsx
  src/routes/_demo/components/route.tsx
  src/routes/_demo/route.tsx
Due: typecheck, lint, format

feat(ui): add forms component demo page
  e2e/demo/components.test.ts
  src/routeTree.gen.ts
  src/routes/_demo/components/forms.tsx
  src/routes/_demo/components/layout.tsx
  src/routes/_demo/components/route.tsx
  src/routes/_demo/components/shared.tsx
Due: typecheck, lint, format

feat(ui): add selections component demo page
  e2e/demo/components.test.ts
  src/routeTree.gen.ts
  src/routes/_demo/components/route.tsx
  src/routes/_demo/components/selections.tsx
Due: typecheck, lint, format

fix(ui): polish form component styling
  src/components/ui/number-field.tsx
  src/components/ui/phone-input.tsx
  src/routes/_demo/components/forms.tsx
Due: typecheck, lint, format

fix(ui): improve badge contrast and banner demo layout
  src/routes/_demo/components/layout.tsx
  src/styles/globals.css
Due: typecheck, lint, format

fix(ui): align autocomplete and combobox popup styling
  src/components/ui/autocomplete.tsx
  src/components/ui/combobox.tsx
Due: typecheck, lint, format

feat(ui): add overlays component demo page
  e2e/demo/components.test.ts
  src/components/ui/dropdown-menu.tsx
  src/routeTree.gen.ts
  src/routes/_demo/components/overlays.tsx
  src/routes/_demo/components/route.tsx
Due: typecheck, lint, format

feat(ui): add data display component demo page
  e2e/demo/components.test.ts
  src/routeTree.gen.ts
  src/routes/_demo/components/data.tsx
  src/routes/_demo/components/route.tsx
Due: typecheck, lint, format

feat(ui): add remaining component demo pages
  src/routes/_demo/components/data.tsx
  src/routes/_demo/components/forms.tsx
  src/routes/_demo/components/layout.tsx
  src/routes/_demo/components/navigation.tsx
  src/routes/_demo/components/overlays.tsx
  src/routes/_demo/components/route.tsx
Due: typecheck, lint, format

chore(db): remove old demo/todos scaffolding
  drizzle/0006_absent_wildside.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  src/db/schema.ts
  src/modules/auth/db/relations.ts
  src/modules/demo/components/chart-area-interactive.tsx
  src/modules/demo/components/data-table.tsx
  src/modules/demo/components/section-cards.tsx
  src/modules/demo/data/chart-area-interactive-data.ts
  src/modules/demo/data/dashboard-data.json
  src/modules/demo/data/dashboard-table-data.ts
  src/modules/demo/data/data-table-schema.ts
  src/modules/todos/db/relations.ts
  src/modules/todos/db/schema.ts
  src/modules/todos/models.ts
  src/routeTree.gen.ts
  src/routes/demo/better-auth.tsx
  src/routes/demo/dashboard.tsx
  src/routes/demo/drizzle.tsx
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix(routes): prefix non-route file with - to exclude from route tree
  e2e/demo/components.test.ts-snapshots/data-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/data-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/data-pixel-public-darwin.png
  e2e/demo/components.test.ts-snapshots/forms-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/forms-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/forms-pixel-public-darwin.png
  e2e/demo/components.test.ts-snapshots/layout-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/layout-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/layout-pixel-public-darwin.png
  e2e/demo/components.test.ts-snapshots/overlays-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/overlays-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/overlays-pixel-public-darwin.png
  e2e/demo/components.test.ts-snapshots/selections-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/selections-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/selections-pixel-public-darwin.png
  eslint.config.js
  src/routes/_demo/components/-shared.tsx
  src/routes/_demo/components/data.tsx
  src/routes/_demo/components/forms.tsx
  src/routes/_demo/components/layout.tsx
  src/routes/_demo/components/navigation.tsx
  src/routes/_demo/components/overlays.tsx
  src/routes/_demo/components/selections.tsx
Due: typecheck, lint, format

fix(tests): isolate transaction E2E tests for parallel safety
  e2e/app/transactions.test.ts
Due: typecheck, lint, format

fix(ui): hide devtools in automated browsers via navigator.webdriver
  e2e/app/transactions.test.ts
  src/hooks/use-automated-browser.ts
  src/hooks/use-hydrated.ts
  src/lib/utils.ts
  src/routes/__root.tsx
Due: typecheck, lint, format

refactor(tests): extract shared E2E helpers for table CRUD patterns
  e2e/app/accounts.test.ts
  e2e/app/categories.test.ts
  e2e/app/transactions.test.ts
  e2e/fixtures/combobox.ts
  e2e/fixtures/table-actions.ts
Due: typecheck, lint, format

refactor(tests): per-worker E2E user isolation and toast handling
  docs/development/e2e/README.md
  docs/development/e2e/auth.md
  e2e/app/accounts.test.ts
  e2e/app/categories.test.ts
  e2e/app/dashboard.test.ts
  e2e/app/transactions.test.ts
  e2e/auth/reverse-guard.test.ts
  e2e/fixtures/auth.ts
  e2e/fixtures/constants.ts
  e2e/fixtures/table-actions.ts
  e2e/setup/auth.setup.ts
  e2e/setup/db.setup.ts
  eslint.config.js
  playwright.config.ts
  test/seed/e2e-user.ts
Due: typecheck, lint, lint-md, format

fix(ui): replace nested button in collapsible demo trigger
  docs/development/components/implementation.md
  src/routes/_demo/components/layout.tsx
Due: typecheck, lint, lint-md, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
