Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck --pretty false

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

fix(tooling): kill orphaned dev servers on port 3000
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: typecheck, lint, format

feat(finance): map DB constraint errors to actionable user messages
  src/lib/db/pg-error.integration.test.ts
  src/lib/db/pg-error.test.ts
  src/lib/db/pg-error.ts
  src/modules/accounts/api/create-account.ts
  src/modules/accounts/api/delete-account.ts
  src/modules/accounts/api/update-account.ts
  src/modules/categories/api/categories.integration.test.ts
  src/modules/categories/api/create-category.ts
  src/modules/categories/api/delete-category.ts
  src/modules/categories/api/update-category.ts
  src/modules/transactions/api/create-payee.ts
  src/modules/transactions/api/create-tag.ts
  src/modules/transactions/api/create-transaction.ts
  src/modules/transactions/api/delete-transaction.ts
  src/modules/transactions/api/update-transaction.ts
Due: typecheck, lint, format

fix(ui): lift confirm dialog out of dropdown to prevent unmount race
  e2e/setup/db.setup.ts
  src/components/ui/confirm-destructive-dialog.test.tsx
  src/components/ui/confirm-destructive-dialog.tsx
  src/modules/accounts/components/account-row-actions.tsx
  src/modules/accounts/components/delete-account-action.tsx
  src/modules/categories/components/category-row-actions.tsx
  src/modules/categories/components/delete-category-action.tsx
  src/modules/transactions/components/delete-transaction-action.tsx
  src/modules/transactions/components/transaction-row-actions.tsx
Due: typecheck, lint, format

fix(ui): enable horizontal scroll and column pinning on data grids
  src/components/data-grid/index.tsx
  src/components/data-grid/table.tsx
  src/components/ui/dropdown-menu.tsx
  src/modules/accounts/components/accounts-data-grid.tsx
  src/modules/categories/components/categories-data-grid.tsx
  src/modules/transactions/components/transactions-data-grid.tsx
Due: typecheck, lint, format

fix(tooling): gitignore Playwright MCP screenshot directory
  .gitignore
Due: none

fix(ui): override browser and password manager autofill backgrounds
  src/styles/globals.css
Due: none

fix(auth): improve form UX on sign-in and sign-up
  src/lib/form.ts
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
Due: typecheck, lint, format

fix(ui): add hover effect to default button variant
  src/components/ui/button.tsx
Due: typecheck, lint, format

docs: document autofill overrides and TanStack Form reactivity
  docs/development/components/tanstack.md
  docs/development/styling.md
Due: lint-md, format

fix(auth): wrap SocialSignIn disabled prop in form.Subscribe
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
Due: typecheck, lint, format

feat(ui): add theme toggle to user menu and collapse sidebar to icon rail
  messages/en-US.json
  src/components/icons.tsx
  src/components/layouts/app/app-sidebar.tsx
  src/components/mode-toggle.tsx
  src/components/nav/nav-secondary.tsx
  src/components/nav/nav-user.tsx
  src/components/ui/sidebar.tsx
Due: typecheck, lint, format

fix(ui): remove misleading row hover from non-interactive data grids
  src/components/data-grid/table.tsx
  src/components/ui/table.tsx
Due: typecheck, lint, format

fix(ui): polish account form and data grid consistency
  src/components/data-grid/index.tsx
  src/components/data-grid/table.tsx
  src/components/ui/input-group.tsx
  src/modules/accounts/components/account-form.tsx
Due: typecheck, lint, format

feat(ui): replace native date inputs with DatePicker component
  docs/development/components/examples/form.md
  messages/en-US.json
  src/components/ui/date-picker.tsx
  src/components/ui/date-selector.tsx
  src/modules/accounts/components/account-form.tsx
  src/modules/transactions/components/transaction-form.tsx
Due: typecheck, lint, lint-md, format

fix(ui): wire handleBlur on Select fields to clear stale validation
  docs/development/components/examples/form.md
  e2e/app/transactions.test.ts
  eslint.config.js
  src/components/ui/input-group.tsx
  src/lib/form.test.ts
  src/lib/form.ts
  src/modules/accounts/components/account-form.tsx
  src/modules/categories/components/category-form.tsx
  src/modules/transactions/components/transaction-form.tsx
Due: typecheck, lint, lint-md, format

test(finance): close TREK-16 test gaps for transactions, payees, and tags
  docs/development/e2e/locators.md
  e2e/app/transactions.test.ts
  src/components/ui/select.tsx
  src/modules/categories/api/categories.integration.test.ts
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/api/transactions.integration.test.ts
  test/assertions.ts
Due: typecheck, lint, lint-md, format

test(finance): add server function business logic tests for TREK-129
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/api/transactions.integration.test.ts
Due: typecheck, lint, format

fix(db): convert soft-delete unique indexes to partial and expand integration tests
  drizzle/0003_charming_loners.sql
  drizzle/0004_cooing_la_nuit.sql
  drizzle/meta/0003_snapshot.json
  drizzle/meta/0004_snapshot.json
  drizzle/meta/_journal.json
  src/modules/accounts/api/accounts.integration.test.ts
  src/modules/categories/api/categories.integration.test.ts
  src/modules/categories/db/schema.ts
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/api/transactions.integration.test.ts
  src/modules/transactions/db/schema.ts
  test/assertions.ts
Due: typecheck, lint, format

fix(tests): prevent expect.fail from being swallowed in expectPgError
  test/assertions.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

refactor(finance): extract transaction service layer and shared error handler
  docs/development/architecture.md
  docs/development/database.md
  docs/development/testing.md
  src/db/index.ts
  src/lib/audit/insert-audit-log.ts
  src/lib/server-fn/handle-error.ts
  src/modules/transactions/api/create-transaction.ts
  src/modules/transactions/api/delete-transaction.ts
  src/modules/transactions/api/list-transactions.ts
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/api/transactions.integration.test.ts
  src/modules/transactions/api/update-transaction.ts
  src/modules/transactions/lib/resolve-payee.ts
  src/modules/transactions/lib/resolve-tags.ts
  src/modules/transactions/services/create-transaction.ts
  src/modules/transactions/services/delete-transaction.ts
  src/modules/transactions/services/list-transactions.ts
  src/modules/transactions/services/update-transaction.ts
Due: typecheck, lint, lint-md, format

fix(deps): adapt to better-auth 1.5.3 adapter extraction
  package.json
  pnpm-lock.yaml
  src/lib/auth/server.ts
Due: typecheck, lint, format

fix(tests): wait for toast dismiss before delete action in E2E
  e2e/app/transactions.test.ts
Due: typecheck, lint, format

feat(tests): add transactionTags test factory
  test/factories/factories.integration.test.ts
  test/factories/factories.test.ts
  test/factories/transaction-tag.factory.ts
Due: typecheck, lint, format

refactor(tests): batch sequential inserts in scenarios and integration tests
  src/modules/transactions/api/transactions.integration.test.ts
  test/scenarios/monthly-spending.ts
Due: typecheck, lint, format

feat(tests): add composite test factories
  test/factories/account-terms-with-account.factory.ts
  test/factories/account-terms.factory.ts
  test/factories/account-with-user.factory.ts
  test/factories/category-with-user.factory.ts
  test/factories/category.factory.ts
  test/factories/factories.integration.test.ts
  test/factories/ledger-account.factory.ts
  test/factories/payee.factory.ts
  test/factories/transaction-with-relations.factory.ts
  test/factories/transaction.factory.ts
  test/factories/user.factory.ts
Due: typecheck, lint, format

test(finance): add update/delete transaction integration tests
  src/modules/transactions/api/transactions.integration.test.ts
Due: typecheck, lint, format

test(tests): add cross-user resource linking integration tests
  src/modules/transactions/api/transactions.integration.test.ts
Due: typecheck, lint, format

refactor(tests): replace manual setup with composite factories
  docs/development/testing.md
  src/modules/accounts/api/accounts.integration.test.ts
  src/modules/categories/api/categories.integration.test.ts
  src/modules/transactions/api/transactions.integration.test.ts
  test/scenarios/full-transaction.ts
  test/scenarios/scenarios.integration.test.ts
  test/seed/seed-runner.ts
Due: typecheck, lint, lint-md, format

refactor(tests): move entity type aliases to module schema files
  docs/development/testing.md
  src/modules/accounts/db/schema.ts
  src/modules/auth/db/arktype-schemas.ts
  src/modules/categories/db/schema.ts
  src/modules/finance/db/schema.ts
  src/modules/transactions/db/schema.ts
  test/factories/account-balance-snapshot.factory.ts
  test/factories/account-terms-with-account.factory.ts
  test/factories/account-terms.factory.ts
  test/factories/account-with-user.factory.ts
  test/factories/category-with-user.factory.ts
  test/factories/category.factory.ts
  test/factories/credit-card-catalog.factory.ts
  test/factories/ledger-account.factory.ts
  test/factories/payee.factory.ts
  test/factories/tag.factory.ts
  test/factories/transaction-tag.factory.ts
  test/factories/transaction-with-relations.factory.ts
  test/factories/transaction.factory.ts
  test/factories/transfer.factory.ts
  test/factories/user.factory.ts
  test/scenarios/monthly-spending.ts
  test/scenarios/multi-account-user.ts
  test/seed/base-categories.ts
  test/seed/credit-card-catalog.ts
Due: typecheck, lint, lint-md, format

chore: migrate vscode settings to js/ts namespace
  .vscode/settings.json
Due: format

refactor(db): decompose finance module into domain-specific modules
  docs/development/architecture.md
  docs/development/database.md
  src/db/audit-models.ts
  src/db/audit-relations.ts
  src/db/audit.ts
  src/db/schema.ts
  src/lib/audit/insert-audit-log.test.ts
  src/lib/audit/insert-audit-log.ts
  src/lib/audit/types.ts
  src/modules/accounts/db/relations.ts
  src/modules/auth/db/relations.ts
  src/modules/auth/emails/email-service.tsx
  src/modules/categories/db/relations.ts
  src/modules/debt/db/relations.ts
  src/modules/debt/db/schema.ts
  src/modules/debt/models.ts
  src/modules/finance/db/relations.ts
  src/modules/finance/db/schema.ts
  src/modules/finance/models.ts
  src/modules/imports/db/relations.ts
  src/modules/imports/db/schema.ts
  src/modules/imports/models.ts
  src/modules/preferences/db/relations.ts
  src/modules/preferences/db/schema.ts
  src/modules/preferences/models.ts
  src/modules/promotions/db/relations.ts
  src/modules/promotions/db/schema.ts
  src/modules/promotions/models.ts
  src/modules/rules/db/relations.ts
  src/modules/rules/db/schema.ts
  src/modules/rules/models.ts
  src/modules/statements/db/relations.ts
  src/modules/statements/db/schema.ts
  src/modules/statements/models.ts
  src/modules/transactions/db/relations.ts
  src/modules/transactions/db/schema.ts
  src/modules/transfers/db/relations.ts
  src/modules/transfers/db/schema.ts
  src/modules/transfers/models.ts
  test/factories/transfer.factory.ts
Due: typecheck, lint, lint-md, format

test(tests): add error path integration tests (404, 409, 422)
  src/modules/accounts/api/accounts.integration.test.ts
  src/modules/categories/api/categories.integration.test.ts
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/api/transactions.integration.test.ts
Due: typecheck, lint, format

test(auth): add unit tests for requireUserId
  src/modules/auth/middleware.test.ts
Due: typecheck, lint, format

fix(finance): validate ownership of categoryId, payeeId, tagIds in transaction services
  src/db/index.ts
  src/modules/transactions/api/payees-tags.integration.test.ts
  src/modules/transactions/api/transactions.integration.test.ts
  src/modules/transactions/lib/resolve-payee.ts
  src/modules/transactions/lib/resolve-tags.ts
  src/modules/transactions/services/create-transaction.ts
  src/modules/transactions/services/update-transaction.ts
Due: typecheck, lint, format

test(tests): add serviceDb fixture and transaction service integration tests
  docs/development/testing.md
  src/modules/transactions/services/transactions-services.integration.test.ts
  test/integration-setup.ts
Due: typecheck, lint, lint-md, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
