Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck --pretty false

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

chore: align auth config and regenerate schema
  AGENTS.md
  README.md
  docker-compose.yml
  docs/CONTRIBUTING.md
  docs/development/env.md
  docs/development/secrets.md
  docs/development/security.md
  docs/development/testing.md
  drizzle/0000_legal_blacklash.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  src/lib/auth.ts
  src/routes/demo/drizzle.tsx
Due: typecheck, lint, lint-md, format

ci: move pnpm setup before node setup
  .github/actions/setup/action.yml
Due: none

chore(deps): add audit depdendency overrides
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

ci: optimize static analysis caches
  .github/actions/setup/action.yml
  .github/actions/static-analysis/action.yml
  .github/workflows/ci.yml
Due: none

ci: fix action SHAs
  .github/actions/setup/action.yml
  .github/workflows/dependency-review.yml
Due: none

fix: remove no-op schema postprocess
  scripts/postprocess-auth-schema.ts
Due: typecheck, lint, format

ci: compile paraglide before typecheck
  .github/actions/static-analysis/action.yml
  tsconfig.json
Due: format

docs: replace components guidance
  docs/README.md
  docs/development/components/README.md
  docs/development/components/behavior.md
  docs/development/components/examples/form.md
  docs/development/components/implementation.md
  docs/development/components/structure.md
  docs/development/components/tanstack.md
  docs/development/design-tokens.md
  docs/development/styling.md
Due: lint-md, format

feat: add typography component and Geist fonts
  docs/README.md
  docs/development/components/README.md
  docs/development/components/examples/typography.md
  docs/development/components/implementation.md
  package.json
  pnpm-lock.yaml
  src/components/ui/typography.tsx
  src/styles/globals.css
Due: typecheck, lint, lint-md, format

docs: expand table guidance
  docs/development/components/structure.md
  docs/development/components/tanstack.md
Due: lint-md, format

refactor: centralize ui icons
  src/components/icons.tsx
  src/components/ui/accordion.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/calendar.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/combobox.tsx
  src/components/ui/command.tsx
  src/components/ui/context-menu.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input-otp.tsx
  src/components/ui/menubar.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/pagination.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/sonner.tsx
  src/components/ui/spinner.tsx
Due: typecheck, lint, format

refactor: add shared layouts and errors
  src/components/errors/not-found.tsx
  src/components/errors/root-error-boundary.tsx
  src/components/icons.tsx
  src/components/layouts/app-sidebar.tsx
  src/components/nav/nav-documents.tsx
  src/components/nav/nav-main.tsx
  src/components/nav/nav-secondary.tsx
  src/components/nav/nav-user.tsx
  src/components/site/site-header.tsx
  src/router.tsx
  src/routes/demo/dashboard.tsx
Due: typecheck, lint, format

chore: centralize devtools panels
  src/lib/devtools.tsx
  src/routes/__root.tsx
Due: typecheck, lint, format

chore: update ui dependencies
  package.json
  pnpm-lock.yaml
Due: format

feat: align auth email rendering
  src/lib/auth.ts
  src/lib/error-ids.ts
  src/lib/logger.ts
  src/modules/auth/email-render.ts
  src/modules/auth/email-service.tsx
  src/modules/auth/emails/base-email.tsx
  src/modules/auth/emails/reset-password-email.tsx
  src/modules/auth/emails/verification-email.tsx
Due: typecheck, lint, format

docs: document email and upload workflows
  docs/PLAN.md
  docs/README.md
  docs/adr/0005-email-react-email-and-brevo.md
  docs/development/auth.md
  docs/development/emails.md
  docs/development/env.md
  docs/development/i18n.md
  docs/development/styling.md
  docs/development/uploads.md
Due: lint-md, format

refactor: move demo dashboard to ui data-grid
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/icons.tsx
  src/components/ui/drawer.tsx
  src/modules/demo/components/chart-area-interactive.tsx
  src/modules/demo/components/data-table.tsx
  src/modules/demo/components/section-cards.tsx
  src/modules/demo/data/chart-area-interactive-data.ts
  src/modules/demo/data/dashboard-data.json
  src/modules/demo/data/dashboard-table-data.ts
  src/modules/demo/data/data-table-schema.ts
  src/routes/demo/dashboard.tsx
Due: typecheck, lint, format

chore: add nitro for node-server deployment
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: typecheck, lint, format

chore: use postgres alpine image
  docker-compose.yml
Due: none

chore: update build script
  package.json
Due: format

feat: add theme toggling
  src/components/header.tsx
  src/components/mode-toggle.tsx
  src/integrations/better-auth/header-user.tsx
  src/routes/__root.tsx
Due: typecheck, lint, format

feat: add fonts
  package.json
  pnpm-lock.yaml
Due: format

fix: update brevo email client
  package.json
  pnpm-lock.yaml
  src/lib/email.ts
Due: typecheck, lint, format

chore: improve env typing
  package.json
  pnpm-lock.yaml
  src/env.ts
  src/vite-env.d.ts
Due: typecheck, lint, format

feat: add evlog logging with SigNoz
  .env.example
  docs/adr/0020-logging-evlog-signoz.md
  docs/development/logging.md
  src/env.ts
  src/lib/logger.ts
  src/lib/logging/client-logger.ts
  src/lib/logging/drain.ts
  src/lib/logging/evlog.ts
  src/lib/logging/hash.test.ts
  src/lib/logging/hash.ts
  src/modules/auth/email-render.ts
  src/routes/demo/drizzle.tsx
  vite.config.ts
Due: typecheck, lint, lint-md, format

fix: update spacing for drawer, sidebar, data grid, and date selector components
  src/components/ui/data-grid/data-grid-table.tsx
  src/components/ui/date-selector.tsx
  src/components/ui/drawer.tsx
  src/components/ui/sidebar.tsx
Due: typecheck, lint, format

refactor: env config with lazy validation and dotenvx flow
  .env.example
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/configs/env.ts
  src/db/index.ts
  src/lib/auth.ts
  src/lib/email.ts
  src/lib/logging/hash.ts
  src/vite-env.d.ts
  vite.config.ts
Due: typecheck, lint, format

feat: configure vitest with coverage reporting and CI integration
  .github/workflows/ci.yml
  .gitignore
  src/lib/logging/hash.test.ts
  test/setup.ts
  tsconfig.json
  vitest.config.ts
Due: typecheck, lint, format

docs: update env, testing, and agent documentation
  AGENTS.md
  docs/development/env.md
  docs/development/testing.md
Due: lint-md, format

test: add unit tests for env, cookies, error-ids, i18n, and utils
  src/configs/env.test.ts
  src/lib/cookies.test.ts
  src/lib/error-ids.test-d.ts
  src/lib/i18n.test.ts
  src/lib/utils.test.ts
Due: typecheck, lint, format

chore: clean up stale pnpm overrides and fix minimatch audit vulnerability
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): compile paraglide before unit tests to resolve typecheck errors
  .github/workflows/ci.yml
Due: none

test: improve test coverage and fix i18n mock reset
  src/configs/env.test.ts
  src/lib/cookies.test.ts
  src/lib/i18n.test.ts
  src/lib/logging/hash.test.ts
  test/setup.ts
Due: typecheck, lint, format

test: add tests for formatBytes, client-logger, and sanitizeEvent
  src/hooks/use-file-upload.test.ts
  src/lib/logging/client-logger.test.ts
  src/lib/logging/drain.ts
  src/lib/logging/sanitize.test.ts
  src/lib/logging/sanitize.ts
Due: typecheck, lint, format

fix: improve vite config and tsconfig best practices
  tsconfig.json
  vite.config.ts
Due: typecheck, lint, format

fix: consolidate imports from arkenv for cleaner code
  package.json
  pnpm-lock.yaml
  src/configs/env.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
