Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck --pretty false
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

chore(deps): migrate @tanstack/react-table to v9 via legacy compat layer
  docs/development/components/tanstack.md
  e2e/app/data-grid.test.ts
  package.json
  pnpm-lock.yaml
  src/components/data-grid/column-filter.tsx
  src/components/data-grid/column-header.tsx
  src/components/data-grid/column-visibility.tsx
  src/components/data-grid/index.tsx
  src/components/data-grid/pagination.tsx
  src/components/data-grid/table-dnd-rows.tsx
  src/components/data-grid/table-dnd.tsx
  src/components/data-grid/table.tsx
  src/modules/accounts/components/accounts-columns.tsx
  src/modules/accounts/components/accounts-data-grid.tsx
  src/modules/categories/components/categories-columns.tsx
  src/modules/categories/components/categories-data-grid.tsx
  src/modules/imports/components/import-rows-columns.tsx
  src/modules/imports/components/import-rows-data-grid.tsx
  src/modules/imports/components/imports-columns.tsx
  src/modules/imports/components/imports-data-grid.tsx
  src/modules/transactions/components/transactions-columns.tsx
  src/modules/transactions/components/transactions-data-grid.tsx
Due: typecheck, lint, lint-md, format

refactor(ui): remove orphaned data-grid components
  .claude/rules/ui-components.md
  docs/development/component-audit.md
  messages/en-US.json
  src/components/data-grid/column-filter.tsx
  src/components/data-grid/column-header.tsx
  src/components/data-grid/column-visibility.tsx
  src/components/data-grid/table-dnd-rows.tsx
  src/components/data-grid/table-dnd.tsx
Due: typecheck, lint, lint-md, format

refactor(ui): complete react-table v9 migration off the legacy layer
  src/components/data-grid/features.test.ts
  src/components/data-grid/features.ts
  src/components/data-grid/index.tsx
  src/components/data-grid/pagination.tsx
  src/components/data-grid/table.tsx
  src/modules/accounts/components/accounts-columns.tsx
  src/modules/accounts/components/accounts-data-grid.tsx
  src/modules/categories/components/categories-columns.tsx
  src/modules/categories/components/categories-data-grid.tsx
  src/modules/imports/components/import-rows-columns.tsx
  src/modules/imports/components/import-rows-data-grid.tsx
  src/modules/imports/components/imports-columns.tsx
  src/modules/imports/components/imports-data-grid.tsx
  src/modules/transactions/components/transactions-columns.tsx
  src/modules/transactions/components/transactions-data-grid.tsx
Due: typecheck, lint, format

refactor(ui): scope data grid column meta to its feature set
  package.json
  pnpm-lock.yaml
  src/components/data-grid/features.test-d.ts
  src/components/data-grid/features.test.ts
  src/components/data-grid/features.ts
  src/components/data-grid/index.tsx
  src/components/data-grid/table.tsx
  src/modules/accounts/components/accounts-columns.tsx
  src/modules/accounts/components/accounts-data-grid.tsx
  src/modules/categories/components/categories-columns.tsx
  src/modules/categories/components/categories-data-grid.tsx
  src/modules/imports/components/import-rows-columns.tsx
  src/modules/imports/components/import-rows-data-grid.tsx
  src/modules/imports/components/imports-columns.tsx
  src/modules/imports/components/imports-data-grid.tsx
  src/modules/transactions/components/transactions-columns.tsx
  src/modules/transactions/components/transactions-data-grid.tsx
Due: typecheck, lint, format

docs(ui): document the data grid feature registry and column helper
  .claude/rules/ui-components.md
  docs/development/component-audit.md
Due: lint-md, format

docs(ui): update TanStack Table guidance for the v9 API
  docs/development/components/tanstack.md
  src/components/data-grid/features.ts
Due: typecheck, lint, lint-md, format

docs(ui): state the dev warning the server table example triggers
  docs/development/components/tanstack.md
Due: lint-md, format

docs(ui): record that headerTitle has no reader
  .claude/rules/ui-components.md
  src/components/data-grid/features.ts
Due: typecheck, lint, lint-md, format

Migrate @tanstack/react-table v8 → v9 (#46)
  .claude/rules/ui-components.md
  docs/development/component-audit.md
  docs/development/components/tanstack.md
  e2e/app/data-grid.test.ts
  messages/en-US.json
  package.json
  pnpm-lock.yaml
  src/components/data-grid/column-filter.tsx
  src/components/data-grid/column-header.tsx
  src/components/data-grid/column-visibility.tsx
  src/components/data-grid/features.test-d.ts
  src/components/data-grid/features.test.ts
  src/components/data-grid/features.ts
  src/components/data-grid/index.tsx
  src/components/data-grid/pagination.tsx
  src/components/data-grid/table-dnd-rows.tsx
  src/components/data-grid/table-dnd.tsx
  src/components/data-grid/table.tsx
  src/modules/accounts/components/accounts-columns.tsx
  src/modules/accounts/components/accounts-data-grid.tsx
  src/modules/categories/components/categories-columns.tsx
  src/modules/categories/components/categories-data-grid.tsx
  src/modules/imports/components/import-rows-columns.tsx
  src/modules/imports/components/import-rows-data-grid.tsx
  src/modules/imports/components/imports-columns.tsx
  src/modules/imports/components/imports-data-grid.tsx
  src/modules/transactions/components/transactions-columns.tsx
  src/modules/transactions/components/transactions-data-grid.tsx
Due: typecheck, lint, lint-md, format

fix(ci): pin dependency-review-action to a resolvable version comment
  .github/workflows/dependency-review.yml
Due: none

fix(ci): pin dependency-review-action to a resolvable version comment (#47)
  .github/workflows/dependency-review.yml
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): drop dead minimumReleaseAgeExclude entry
  pnpm-workspace.yaml
Due: none

fix(scripts): remove ReDoS and vacuous-pass bugs in e2e tag check
  package.json
  scripts/check-e2e-tags.mjs
  test/scripts/check-e2e-tags.test.ts
  tsconfig.json
Due: typecheck, lint, format

fix(scripts): report tag values the e2e checker cannot read
  .claude/rules/e2e-testing.md
  scripts/check-e2e-tags.mjs
  test/scripts/check-e2e-tags.test.ts
Due: typecheck, lint, lint-md, format

fix(tests): wait for controls to settle before a11y scans
  e2e/fixtures/a11y.ts
Due: typecheck, lint, format

docs(tests): record the a11y scan hydration race
  docs/research/0007-a11y-scan-hydration-race.md
  docs/research/README.md
  e2e/README.md
  e2e/fixtures/index.ts
Due: typecheck, lint, lint-md, format

fix(scripts): name what the tag gate needs, not what it failed to parse
  e2e/fixtures/a11y.ts
  scripts/check-e2e-tags.mjs
  test/scripts/check-e2e-tags.test.ts
Due: typecheck, lint, format

docs(tests): reword the a11y settle explanation
  e2e/fixtures/a11y.ts
Due: typecheck, lint, format

fix(ci): close CodeQL ReDoS alert and the a11y scan hydration race (#48)
  .claude/rules/e2e-testing.md
  docs/research/0007-a11y-scan-hydration-race.md
  docs/research/README.md
  e2e/README.md
  e2e/fixtures/a11y.ts
  e2e/fixtures/index.ts
  package.json
  pnpm-workspace.yaml
  scripts/check-e2e-tags.mjs
  test/scripts/check-e2e-tags.test.ts
  tsconfig.json
Due: typecheck, lint, lint-md, format

refactor: keep literal key evidence with satisfies
  src/lib/logging/client-logger.ts
  src/lib/utils.test.ts
  src/lib/varlock-env-shim.ts
  src/modules/imports/components/column-mapper.tsx
  src/modules/imports/components/import-rows-columns.tsx
  src/modules/imports/components/imports-columns.tsx
  src/modules/preferences/services/update-preferences.integration.test.ts
  src/modules/preferences/services/update-preferences.ts
  src/modules/rules/components/actions-builder.tsx
  src/modules/rules/components/rule-form.tsx
  src/modules/rules/services/undo-rule-run.ts
  src/modules/transfers/db/schema.ts
Due: typecheck, lint, format

chore(tooling): add local type-evidence oxlint rules
  .oxlintrc.json
  docs/development/code-standards.md
  e2e/fixtures/a11y.ts
  package.json
  pnpm-lock.yaml
  src/components/data-grid/index.tsx
  src/components/ui/scrollspy.tsx
  src/lib/audit/insert-audit-log.test.ts
  src/lib/i18n/date.test.ts
  src/lib/i18n/number.test.ts
  src/modules/auth/emails/email-render.test.ts
  src/modules/preferences/services/fetch-preferences.integration.test.ts
  tools/oxlint/type-evidence.test.ts
  tools/oxlint/type-evidence.ts
  vitest.config.ts
Due: typecheck, lint, lint-md, format

docs: record the anti-slop rules evaluated and rejected
  docs/development/code-standards.md
Due: lint-md, format

fix: address review feedback on the type-evidence rules
  docs/development/code-standards.md
  e2e/fixtures/a11y.ts
  src/lib/audit/insert-audit-log.test.ts
  src/lib/audit/insert-audit-log.ts
  src/modules/transfers/db/schema.ts
  tools/oxlint/type-evidence.ts
Due: typecheck, lint, lint-md, format

docs: answer PR review in-thread rather than as one global comment
  AGENTS.md
Due: lint-md, format

docs: clarify which placeholders gh api expands
  AGENTS.md
Due: lint-md, format

docs: answer PR review in-thread rather than as one global comment (#50)
  AGENTS.md
Due: lint-md, format

fix(ci): stop cancelling CI for commits merged to main
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

fix(ci): key non-PR concurrency per commit so no run is evicted
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

fix(ci): key non-PR concurrency per commit so no run is evicted (#73)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

chore(ci): group renovate updates and respect pnpm's release-age floor
  .github/renovate.json
Due: format

chore(ci): pin mailpit instead of tracking latest
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

fix(ci): stop the e2e report job from blocking deploys
  .github/workflows/ci.yml
Due: none

Group Renovate updates, respect pnpm's release-age floor, and stop two silent deploy skips (#74)
  .github/renovate.json
  .github/workflows/ci.yml
  docker-compose.yml
Due: format

refactor(db): derive constraint-name unions from name constants
  .claude/rules/database.md
  src/modules/accounts/db/schema.integration.test.ts
  src/modules/accounts/db/schema.ts
  src/modules/budgets/db/schema.ts
  src/modules/categories/db/schema.integration.test.ts
  src/modules/categories/db/schema.ts
  src/modules/payees/db/schema.ts
  src/modules/payees/services/create-payee-alias.integration.test.ts
  src/modules/rules/db/schema.ts
  src/modules/rules/services/create-merchant-rule.integration.test.ts
  src/modules/rules/services/schema.integration.test.ts
  src/modules/transactions/db/schema.integration.test.ts
  src/modules/transactions/db/schema.ts
  src/modules/transfers/db/schema.ts
Due: typecheck, lint, lint-md, format

fix(db): treat the constraint-message lookup as the partial map it is
  src/lib/db/pg-error.ts
Due: typecheck, lint, format

fix(logging): validate CLIENT_LOG_LEVEL instead of trusting its type
  src/lib/logging/client-logger.test.ts
  src/lib/logging/client-logger.ts
Due: typecheck, lint, format

chore(env): clear varlock audit drift and drop a deprecated decorator
  .env.schema
  docs/development/env.md
Due: lint-md, format
