Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck --pretty false
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

feat(rules): list view with stage sections and drag reorder
  messages/en-US.json
  src/components/icons.tsx
  src/components/layouts/app/app-sidebar.tsx
  src/modules/rules/components/action-chip.tsx
  src/modules/rules/components/match-preview.tsx
  src/modules/rules/components/merchant-rules-list.tsx
  src/modules/rules/components/rule-row-actions.tsx
  src/modules/rules/components/rule-row.tsx
  src/modules/rules/components/stage-section.tsx
  src/routes/_app/rules.tsx
Due: typecheck, lint, format

refactor: add omit() utility and adopt in filters + mutation-gate
  src/components/filters/input.tsx
  src/lib/utils.test.ts
  src/lib/utils.ts
  src/modules/auth/components/mutation-gate.tsx
Due: typecheck, lint, format

feat(rules): editor dialog with match builder, actions builder, live preview
  messages/en-US.json
  src/modules/rules/components/action-card.tsx
  src/modules/rules/components/actions-builder.tsx
  src/modules/rules/components/match-builder.tsx
  src/modules/rules/components/rule-editor-dialog.tsx
  src/modules/rules/components/rule-form.tsx
  src/modules/rules/components/rule-preview-panel.tsx
  src/routes/_app/rules.tsx
Due: typecheck, lint, format

feat(rules): apply-to-existing dialog with per-row deselect
  messages/en-US.json
  src/lib/utils.ts
  src/modules/rules/components/actions-builder.tsx
  src/modules/rules/components/apply-rule-dialog.tsx
  src/modules/rules/hooks/use-preview-apply.ts
  src/routes/_app/rules.tsx
Due: typecheck, lint, format

chore(tooling): add ipad project for @tablet e2e tests
  playwright.config.ts
Due: typecheck, lint, format

fix(rules): wire label associations across editor form fields
  src/modules/rules/components/action-card.tsx
  src/modules/rules/components/match-builder.tsx
  src/modules/rules/components/rule-form.tsx
Due: typecheck, lint, format

test(rules): happy-path e2e across desktop, mobile, and tablet
  e2e/app/rules.test.ts
  src/modules/rules/components/rule-row.tsx
Due: typecheck, lint, format

test(rules): apply-to-existing + undo e2e
  e2e/app/rules.test.ts
Due: typecheck, lint, format

fix(rules): address PR review findings
  messages/en-US.json
  src/modules/rules/components/action-card.tsx
  src/modules/rules/components/actions-builder.tsx
  src/modules/rules/validators.ts
Due: typecheck, lint, format

fix(rules): address second round of PR review findings
  src/modules/rules/components/actions-builder.tsx
  src/modules/rules/components/match-builder.tsx
  src/modules/rules/components/rule-form.tsx
  src/modules/rules/models.ts
  src/modules/rules/validators.ts
Due: typecheck, lint, format

fix(rules): preserve amount bounds when switching match op to between
  src/modules/rules/components/match-builder.tsx
Due: typecheck, lint, format

fix(rules): pair role=list with role=listitem on stage sections
  src/modules/rules/components/stage-section.tsx
Due: typecheck, lint, format

feat(rules): merchant rules UI — list, editor, apply-to-existing
  e2e/app/rules.test.ts
  messages/en-US.json
  playwright.config.ts
  src/components/filters/input.tsx
  src/components/icons.tsx
  src/components/layouts/app/app-sidebar.tsx
  src/lib/utils.test.ts
  src/lib/utils.ts
  src/modules/auth/components/mutation-gate.tsx
  src/modules/auth/middleware-chain.test.ts
  src/modules/rules/api/preview-match-merchant-rule.ts
  src/modules/rules/components/action-card.tsx
  src/modules/rules/components/action-chip.tsx
  src/modules/rules/components/actions-builder.tsx
  src/modules/rules/components/apply-rule-dialog.tsx
  src/modules/rules/components/match-builder.tsx
  src/modules/rules/components/match-preview.tsx
  src/modules/rules/components/merchant-rules-list.tsx
  src/modules/rules/components/payee-aliases-tab.tsx
  src/modules/rules/components/rule-editor-dialog.tsx
  src/modules/rules/components/rule-form.tsx
  src/modules/rules/components/rule-preview-panel.tsx
  src/modules/rules/components/rule-row-actions.tsx
  src/modules/rules/components/rule-row.tsx
  src/modules/rules/components/rules-empty.tsx
  src/modules/rules/components/rules-page-header.tsx
  src/modules/rules/components/stage-section.tsx
  src/modules/rules/hooks/use-merchant-rules.ts
  src/modules/rules/hooks/use-preview-apply.ts
  src/modules/rules/hooks/use-preview-match.ts
  src/modules/rules/models.ts
  src/modules/rules/services/apply-merchant-rule.integration.test.ts
  src/modules/rules/services/apply-merchant-rule.ts
  src/modules/rules/services/match-predicate-sql.ts
  src/modules/rules/services/preview-match-merchant-rule.integration.test.ts
  src/modules/rules/services/preview-match-merchant-rule.ts
  src/modules/rules/validators.ts
  src/routeTree.gen.ts
  src/routes/_app/rules.tsx
Due: typecheck, lint, format

chore(deps): bump minor and patch versions
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): migrate to unified react-email v6 package
  .vscode/settings.json
  docs/adr/0005-email-react-email-and-brevo.md
  docs/development/emails.md
  package.json
  pnpm-lock.yaml
  src/modules/auth/emails/base-email.tsx
  src/modules/auth/emails/deletion-cancelled.tsx
  src/modules/auth/emails/deletion-complete.tsx
  src/modules/auth/emails/deletion-scheduled.tsx
  src/modules/auth/emails/email-render.test.ts
  src/modules/auth/emails/email-render.ts
  src/modules/auth/emails/reset-password-email.tsx
  src/modules/auth/emails/verification-email.tsx
Due: typecheck, lint, lint-md, format

chore(deps): bump minor and patch versions and prune stale overrides
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix(tests): scope rules dialog locators to avoid Base UI popover collision
  e2e/app/rules.test.ts
Due: typecheck, lint, format

refactor(tests): unconditional expect via node:assert narrowing
  src/modules/preferences/services/fetch-preferences.integration.test.ts
Due: typecheck, lint, format

chore(tooling): upgrade to pnpm 11
  package.json
  pnpm-workspace.yaml
Due: format

chore(deps): bump mailpit-api to v2
  e2e/fixtures/mailpit.ts
  package.json
  pnpm-lock.yaml
Due: typecheck, lint, format

chore(deps): bump oxlint stack to 1.63 and oxfmt to 0.48
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
  src/components/filters/index.tsx
  src/components/filters/submenu.tsx
  src/components/filters/value-selector.tsx
Due: typecheck, lint, format

docs(agents): add @tanstack/intent skill-loading guidance
  AGENTS.md
Due: lint-md, format

chore(deps): override ip-address to >=10.1.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(logging): align audit event shape with evlog contract
  src/lib/audit/insert-audit-log.test.ts
  src/lib/audit/insert-audit-log.ts
  src/lib/audit/log-audit-event.test.ts
  src/lib/audit/log-audit-event.ts
  src/lib/audit/types.ts
  src/modules/preferences/services/update-preferences.ts
Due: typecheck, lint, format

test(tests): add page.clock fixture and pin timezone to UTC
  docs/development/e2e/fixtures.md
  e2e/demo/clock.test.ts
  e2e/demo/components.test.ts
  e2e/fixtures/clock.ts
  e2e/fixtures/constants.ts
  playwright.config.ts
Due: typecheck, lint, lint-md, format

test(tests): add expectMutation helper for server-fn response assertions
  docs/development/e2e/network.md
  e2e/app/transactions-crud.test.ts
  e2e/demo/expect-mutation.test.ts
  e2e/fixtures/expect-mutation.ts
Due: typecheck, lint, lint-md, format

test(tests): add cleanWorkerUserData fixture for empty-state tests
  docs/development/e2e/fixtures.md
  e2e/README.md
  e2e/app/accounts.test.ts
  e2e/app/budgets.test.ts
  e2e/app/imports.test.ts
  e2e/app/transactions-crud.test.ts
  e2e/fixtures/auth.ts
  e2e/fixtures/clean-data.ts
  e2e/fixtures/table-actions.ts
  e2e/setup/db.setup.ts
  test/seed/e2e-cleanup.ts
Due: typecheck, lint, lint-md, format

ci(tests): formalize canonical e2e tag set and add CI whitelist guard
  .claude/rules/e2e-testing.md
  .github/actions/static-analysis/action.yml
  e2e/auth/verification-gate.test.ts
  package.json
  scripts/check-e2e-tags.mjs
Due: typecheck, lint, lint-md, format

test(tests): allow E2E webServer to use dev mode via E2E_DEV flag
  docs/development/e2e/config.md
  playwright.config.ts
Due: typecheck, lint, lint-md, format

feat(finance): payee aliases CRUD service + API (TREK-241 slice 1)
  drizzle/0019_solid_skullbuster.sql
  drizzle/0020_peaceful_scorpion.sql
  drizzle/0021_big_wiccan.sql
  drizzle/meta/0019_snapshot.json
  drizzle/meta/0020_snapshot.json
  drizzle/meta/0021_snapshot.json
  drizzle/meta/_journal.json
  src/modules/auth/middleware-chain.test.ts
  src/modules/payees/api/create-payee-alias.ts
  src/modules/payees/api/delete-payee-alias.ts
  src/modules/payees/api/list-payee-aliases.ts
  src/modules/payees/services/create-payee-alias.integration.test.ts
  src/modules/payees/services/create-payee-alias.ts
  src/modules/payees/services/delete-payee-alias.integration.test.ts
  src/modules/payees/services/delete-payee-alias.ts
  src/modules/payees/services/list-payee-aliases.integration.test.ts
  src/modules/payees/services/list-payee-aliases.ts
  src/modules/payees/validators.ts
  src/modules/rules/db/schema.ts
Due: typecheck, lint, format

feat(finance): rules + payee aliases UI (TREK-241 slices 2-3b)
  drizzle/0022_material_the_initiative.sql
  drizzle/meta/0022_snapshot.json
  drizzle/meta/_journal.json
  e2e/app/rules.test.ts
  messages/en-US.json
  src/modules/auth/middleware-chain.test.ts
  src/modules/export/services/format-csv.test.ts
  src/modules/payees/hooks/use-payee-aliases.ts
  src/modules/rules/components/payee-aliases-tab.tsx
  src/modules/rules/components/rule-editor-dialog.tsx
  src/modules/rules/components/rule-match-badge.tsx
  src/modules/rules/lib/transaction-to-rule-seed.test.ts
  src/modules/rules/lib/transaction-to-rule-seed.ts
  src/modules/rules/services/apply-merchant-rule.integration.test.ts
  src/modules/rules/services/apply-merchant-rule.ts
  src/modules/rules/services/undo-rule-run.integration.test.ts
  src/modules/rules/services/undo-rule-run.ts
  src/modules/transactions/api/get-transaction-by-id.ts
  src/modules/transactions/components/transaction-row-actions.tsx
  src/modules/transactions/components/transactions-columns.tsx
  src/modules/transactions/db/schema.ts
  src/modules/transactions/hooks/use-transactions.ts
  src/modules/transactions/services/get-transaction-by-id.ts
  src/modules/transactions/services/list-transactions.ts
  src/routes/_app/rules.tsx
  test/factories/transaction.factory.ts
Due: typecheck, lint, format

feat(finance): rebuild transfers as linked transaction pairs (TREK-243)
  drizzle/0023_awesome_lorna_dane.sql
  drizzle/meta/0023_snapshot.json
  drizzle/meta/_journal.json
  src/lib/db/pg-error.test.ts
  src/lib/db/pg-error.ts
  src/modules/accounts/db/relations.ts
  src/modules/auth/db/relations.ts
  src/modules/export/services/format-csv.test.ts
  src/modules/export/services/format-csv.ts
  src/modules/export/services/format-json.test.ts
  src/modules/export/services/format-json.ts
  src/modules/export/services/gather-user-data.integration.test.ts
  src/modules/export/services/gather-user-data.ts
  src/modules/transactions/components/transaction-row-actions.tsx
  src/modules/transactions/db/relations.ts
  src/modules/transactions/db/schema.ts
  src/modules/transactions/services/delete-transaction.integration.test.ts
  src/modules/transactions/services/delete-transaction.ts
  src/modules/transactions/services/list-transactions.integration.test.ts
  src/modules/transactions/services/list-transactions.ts
  src/modules/transactions/services/split-transaction.integration.test.ts
  src/modules/transactions/services/split-transaction.ts
  src/modules/transfers/db/relations.ts
  src/modules/transfers/db/schema.integration.test.ts
  src/modules/transfers/db/schema.ts
  src/modules/transfers/lib/order-dismissal-pair.test.ts
  src/modules/transfers/lib/order-dismissal-pair.ts
  src/modules/transfers/models.ts
  test/factories/factories.integration.test.ts
  test/factories/factories.test.ts
  test/factories/transaction.factory.ts
  test/factories/transfer.factory.ts
Due: typecheck, lint, format
