Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck --pretty false
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

fix(tests): increase expect timeout and fix nested button in demo
  playwright.config.ts
Due: typecheck, lint, format

fix(tests): optimize E2E for CI stability and speed
  .github/workflows/ci.yml
  .gitignore
  docs/development/e2e/README.md
  docs/development/e2e/fixtures.md
  e2e/app/accounts.test.ts
  e2e/app/categories.test.ts
  e2e/app/transactions.test.ts
  e2e/demo/components.test.ts-snapshots/data-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/data-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/data-pixel-public-darwin.png
  e2e/demo/components.test.ts-snapshots/forms-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/forms-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/forms-pixel-public-darwin.png
  e2e/demo/components.test.ts-snapshots/layout-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/layout-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/layout-pixel-public-darwin.png
  e2e/demo/components.test.ts-snapshots/overlays-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/overlays-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/overlays-pixel-public-darwin.png
  e2e/demo/components.test.ts-snapshots/selections-chromium-public-darwin.png
  e2e/demo/components.test.ts-snapshots/selections-iphone-public-darwin.png
  e2e/demo/components.test.ts-snapshots/selections-pixel-public-darwin.png
  e2e/fixtures/auth.ts
  e2e/fixtures/table-actions.ts
  playwright.config.ts
Due: typecheck, lint, lint-md, format

fix(tests): add timeout to toast close button click
  e2e/fixtures/table-actions.ts
Due: typecheck, lint, format

perf(tests): production build, fewer workers, and fail-fast in CI
  .github/workflows/ci.yml
  docs/development/e2e/README.md
  playwright.config.ts
Due: typecheck, lint, lint-md, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore(tooling): add oxlint as primary linter
  .github/actions/static-analysis/action.yml
  .github/renovate.json
  .oxlintrc.json
  .vscode/settings.json
  AGENTS.md
  docs/development/code-standards.md
  e2e/tsconfig.json
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/data-grid/index.tsx
  src/components/data-grid/table-dnd-rows.tsx
  src/components/data-grid/table-dnd.tsx
  src/components/data-grid/table.tsx
  src/components/filters/index.tsx
  src/components/filters/input.tsx
  src/components/filters/remove-button.tsx
  src/components/filters/value-selector.tsx
  src/components/layouts/shells/default-shell.tsx
  src/components/ui/drawer.tsx
  src/components/ui/pagination.tsx
  src/components/ui/slider.tsx
  src/components/ui/sortable.tsx
  src/components/ui/stepper.tsx
  src/components/ui/tree.tsx
  src/hooks/use-file-upload.ts
  src/lib/audit/log-audit-event.ts
  src/lib/logging/client-logger.ts
  src/lib/logging/drain.ts
  src/lib/utils.ts
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/middleware.ts
  src/routes/_demo/components/forms.tsx
  src/routes/api/auth/$.ts
  src/vite-env.d.ts
  test/integration-setup.ts
  tsconfig.json
Due: typecheck, lint, lint-md, format

refactor(tooling): use extends for react and jsx-a11y ESLint configs
  eslint.config.js
Due: lint, format

chore(tooling): enable alphabetical script sorting in oxfmt
  .oxfmtrc.json
Due: format

chore(tooling): bump oxlint/oxfmt and add new lint rules
  .oxlintrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/data-grid/column-header.tsx
  src/components/data-grid/column-visibility.tsx
  src/components/data-grid/table-dnd-rows.tsx
  src/components/data-grid/table-dnd.tsx
  src/components/data-grid/table.tsx
Due: typecheck, lint, format

feat(ui): complete remaining demo component pages
  e2e/demo/components.test.ts
  src/routeTree.gen.ts
  src/routes/_demo/components/date.tsx
  src/routes/_demo/components/layout.tsx
  src/routes/_demo/components/navigation.tsx
  src/routes/_demo/components/route.tsx
Due: typecheck, lint, format

feat(db): add budget_periods and budget_lines schema
  drizzle/0007_add-budget-tables.sql
  drizzle/0008_budget-category-restrict.sql
  drizzle/meta/0007_snapshot.json
  drizzle/meta/0008_snapshot.json
  drizzle/meta/_journal.json
  src/db/schema.ts
  src/modules/budgets/db/relations.ts
  src/modules/budgets/db/schema.ts
  src/modules/budgets/models.ts
  src/modules/budgets/validators.test.ts
  src/modules/budgets/validators.ts
Due: typecheck, lint, format

feat(finance): add budget period CRUD services and API
  src/lib/db/pg-error.ts
  src/modules/budgets/api/create-budget-period.ts
  src/modules/budgets/api/delete-budget-period.ts
  src/modules/budgets/api/list-budget-periods.ts
  src/modules/budgets/api/update-budget-period.ts
  src/modules/budgets/services/budget-periods-services.integration.test.ts
  src/modules/budgets/services/create-budget-period.ts
  src/modules/budgets/services/delete-budget-period.ts
  src/modules/budgets/services/list-budget-periods.ts
  src/modules/budgets/services/update-budget-period.ts
  test/factories/budget-line.factory.ts
  test/factories/budget-period-with-user.factory.ts
  test/factories/budget-period.factory.ts
Due: typecheck, lint, format

feat(finance): add budget line CRUD services and API
  src/modules/budgets/api/create-budget-line.ts
  src/modules/budgets/api/delete-budget-line.ts
  src/modules/budgets/api/list-budget-lines.ts
  src/modules/budgets/api/update-budget-line.ts
  src/modules/budgets/services/budget-lines-services.integration.test.ts
  src/modules/budgets/services/create-budget-line.ts
  src/modules/budgets/services/delete-budget-line.ts
  src/modules/budgets/services/list-budget-lines.ts
  src/modules/budgets/services/update-budget-line.ts
  src/modules/budgets/validators.ts
Due: typecheck, lint, format

feat(finance): add budget vs actual query and copy period service
  src/modules/budgets/api/copy-budget-period.ts
  src/modules/budgets/api/get-budget-vs-actual.ts
  src/modules/budgets/services/copy-budget-period.ts
  src/modules/budgets/services/get-budget-vs-actual.ts
  src/modules/budgets/services/phase4.integration.test.ts
  src/modules/budgets/validators.ts
Due: typecheck, lint, format

feat(finance): add budget query options and mutation hooks
  messages/en-US.json
  src/modules/budgets/hooks/use-budgets.ts
Due: typecheck, lint, format

feat(finance): add budget page with month nav and copy dialog
  messages/en-US.json
  src/components/icons.tsx
  src/components/layouts/app/app-sidebar.tsx
  src/modules/budgets/components/budget-category-row.tsx
  src/modules/budgets/components/budget-overview.tsx
  src/modules/budgets/components/budgets-empty.tsx
  src/modules/budgets/components/budgets-page-header.tsx
  src/modules/budgets/components/copy-budget-dialog.tsx
  src/routeTree.gen.ts
  src/routes/_app/budgets.tsx
Due: typecheck, lint, format

refactor(tooling): migrate perfectionist and no-restricted-imports to oxlint
  .oxlintrc.json
  eslint.config.js
Due: lint, format

refactor(tooling): migrate TanStack query/router and playwright to oxlint
  .oxlintrc.json
  e2e/app/accounts.test.ts
  e2e/app/transactions.test.ts
  e2e/setup/db.setup.ts
  eslint.config.js
  src/lib/audit/insert-audit-log.test.ts
  src/lib/audit/log-audit-event.test.ts
Due: typecheck, lint, format

refactor(tooling): update eslint-disable to oxlint-disable for migrated rules
  src/hooks/use-broadcast-channel.test.ts
  src/lib/cookies.test.ts
  test/seed/seed-runner.ts
Due: typecheck, lint, format

feat(finance): add budget edit dialog with save hook
  messages/en-US.json
  src/components/icons.tsx
  src/modules/budgets/components/budget-category-row.tsx
  src/modules/budgets/components/budgets-empty.tsx
  src/modules/budgets/components/budgets-page-header.tsx
  src/modules/budgets/components/edit-budget-dialog.tsx
  src/modules/budgets/hooks/use-save-budget.ts
  src/routes/_app/budgets.tsx
Due: typecheck, lint, format

refactor(tooling): migrate React plugins to oxlint and enable React Compiler
  .oxlintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/data-grid/index.tsx
  src/components/data-grid/table-dnd-rows.tsx
  src/components/filters/index.tsx
  src/components/ui/autocomplete.tsx
  src/components/ui/calendar.tsx
  src/components/ui/chart.tsx
  src/components/ui/number-field.tsx
  src/components/ui/phone-input.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/sortable.tsx
  src/components/ui/stepper.tsx
  src/components/ui/timeline.tsx
  src/components/ui/toggle-group.tsx
  src/components/ui/tree.tsx
  vite.config.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
  src/components/ui/drawer.tsx
Due: typecheck, lint, format

fix(ui): keep copied tooltip visible on click
  src/components/ui/confirm-destructive-dialog.tsx
Due: typecheck, lint, format

fix(ci): fetch base branch ref for Playwright --only-changed
  .github/workflows/ci.yml
Due: none

fix(ui): pass TooltipTrigger as JSX element to render prop
  src/components/ui/sidebar.tsx
Due: typecheck, lint, format

fix(finance): polish budget edit dialog accessibility, error states, and E2E coverage
  e2e/app/budgets.test.ts
  e2e/setup/db.setup.ts
  messages/en-US.json
  src/modules/budgets/components/edit-budget-dialog.tsx
Due: typecheck, lint, format

fix(auth): add x-forwarded-for fallback to IP address headers
  src/lib/auth/server.ts
Due: typecheck, lint, format

test(tests): complete remaining E2E coverage for transaction form fields
  e2e/app/transactions.test.ts
Due: typecheck, lint, format

refactor(tests): extract shared E2E helpers to reduce boilerplate
  e2e/app/budgets.test.ts
  e2e/app/transactions.test.ts
  e2e/fixtures/combobox.ts
  e2e/fixtures/entity.ts
  e2e/fixtures/field.ts
  e2e/fixtures/table-actions.ts
Due: typecheck, lint, format

fix(ui): gate timestamp tooltip computations behind useHydrated()
  src/components/ui/timestamp.tsx
Due: typecheck, lint, format

chore(deps): remove unused motion and zustand packages
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump minor/patch dependencies
  package.json
  pnpm-lock.yaml
Due: format

refactor(tooling): migrate jsx-a11y and unicorn to oxlint jsPlugins
  .oxlintrc.json
  eslint.config.js
Due: lint, format

feat(ui): switch to Fintech font pairing from fonttrio
  docs/development/styling.md
  package.json
  pnpm-lock.yaml
  src/styles/globals.css
Due: lint-md, format
