Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck --pretty false
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

fix(config): conditional SMTP defaults and stale hash.ts JSDoc
  .env.schema
  src/lib/logging/hash.ts
Due: typecheck, lint, format

fix(tests): wrap integration tests with varlock run
  package.json
  test/global-setup.ts
Due: typecheck, lint, format

fix(ci): set DATABASE_URL for integration tests
  .github/workflows/ci.yml
Due: none

fix(tests): use TEST_DATABASE_URL to avoid varlock overwrite
  .github/workflows/ci.yml
  package.json
  test/db.ts
  test/global-setup.ts
Due: typecheck, lint, format

fix(tests): use .env.test for test database URL
  .env.test
  .gitignore
  test/db.ts
  test/global-setup.ts
Due: typecheck, lint, format

fix(tests): set APP_ENV=test in integration test script
  package.json
Due: format

fix(ci): workflow-level APP_ENV=test with test DB creation
  .github/workflows/ci.yml
Due: none

feat(db): add db:migrate:test script for test database
  package.json
Due: format

docs: document .env.test flow and db:migrate:test script
  AGENTS.md
  docs/development/env.md
  docs/development/testing.md
Due: lint-md, format

fix(config): use localhost defaults for BETTER_AUTH_URL and TRUSTED_ORIGINS
  .env.schema
Due: none

docs(testing): fix CI step descriptions and remove .env.schema test row
  docs/development/testing.md
Due: lint-md, format

fix: address PR review findings (round 2)
  .github/workflows/ci.yml
  src/lib/email.ts
  src/lib/logging/drain.ts
  test/global-setup.ts
Due: typecheck, lint, format

refactor(config): decompose DATABASE_URL into individual DB_* vars
  .env.schema
  .env.test
  .github/workflows/ci.yml
  test/global-setup.ts
Due: typecheck, lint, format

fix: address Copilot review comments
  docker-compose.yml
  docs/development/env.md
  package.json
  test/global-setup.ts
Due: typecheck, lint, lint-md, format

fix: use URL parsing in global-setup, warn on missing nitroApp.hooks
  src/lib/logging/drain.ts
Due: typecheck, lint, format

fix(tests): use URL parsing for maintenance DB connection
  test/global-setup.ts
Due: typecheck, lint, format

chore: trim redundant prose and comments
  .env.schema
  docs/development/env.md
  src/lib/logging/client-logger.ts
Due: typecheck, lint, lint-md, format

refactor(tests): compose maintenance URL from DB_* vars
  test/global-setup.ts
Due: typecheck, lint, format

fix(config): conditional secrets and stricter sensitivity
  .env.schema
Due: none

feat(infra): add Dockerfile and deploy workflow for Coolify
  .dockerignore
  .github/workflows/deploy.yml
  Dockerfile
  docs/adr/0021-release-and-deployment-strategy.md
  docs/adr/README.md
  scripts/docker-entrypoint.sh
  scripts/migrate.mjs
Due: lint, lint-md, format

chore(infra): remove stray whitespace in migrate script
  scripts/migrate.mjs
Due: lint, format

fix(infra): harden deploy workflow and migration script
  .github/workflows/deploy.yml
  Dockerfile
  scripts/migrate.mjs
Due: lint, format

feat(infra): add Dockerfile, deploy workflow, and migration script
  .dockerignore
  .github/workflows/deploy.yml
  Dockerfile
  docs/adr/0021-release-and-deployment-strategy.md
  docs/adr/README.md
  scripts/docker-entrypoint.sh
  scripts/migrate.mjs
Due: lint, lint-md, format

fix(config): mark OAuth client IDs as @public
  .env.schema
Due: none

fix(config): auto-create test database on container init
  docker-compose.yml
  scripts/init-test-db.sh
Due: none

refactor(config): move APP_ENV=test default into config files
  package.json
  playwright.config.ts
  vitest.config.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore(config): move better tailwind linting over to oxlint via js plugins
  .oxlintrc.json
  eslint.config.js
Due: lint, format

refactor(finance): extract CSV parser adapter to decouple from PapaParse
  docs/adr/0022-csv-parser-adapter.md
  src/modules/imports/hooks/use-csv-headers.ts
  src/modules/imports/lib/parse-csv.test.ts
  src/modules/imports/lib/parse-csv.ts
  src/modules/imports/services/create-import.integration.test.ts
  src/modules/imports/services/create-import.ts
Due: typecheck, lint, lint-md, format

feat(finance): add row-level validation and fingerprint dedupe to CSV imports
  src/modules/imports/lib/apply-column-mapping.ts
  src/modules/imports/lib/compute-row-fingerprint.test.ts
  src/modules/imports/lib/compute-row-fingerprint.ts
  src/modules/imports/lib/validate-import-row.test.ts
  src/modules/imports/lib/validate-import-row.ts
  src/modules/imports/services/create-import.integration.test.ts
  src/modules/imports/services/create-import.ts
Due: typecheck, lint, format

chore(db): add 'committed' status to import enums
  drizzle/0012_nifty_scarecrow.sql
  drizzle/meta/0012_snapshot.json
  drizzle/meta/_journal.json
  messages/en-US.json
  src/modules/imports/components/imports-columns.tsx
  src/modules/imports/db/schema.ts
Due: typecheck, lint, format

feat(finance): add import commit service to create transactions from mapped rows
  src/modules/imports/api/commit-import.ts
  src/modules/imports/hooks/use-imports.ts
  src/modules/imports/lib/resolve-category.ts
  src/modules/imports/services/commit-import.integration.test.ts
  src/modules/imports/services/commit-import.ts
  src/modules/imports/validators.ts
Due: typecheck, lint, format

feat(finance): add import row management services for review UI
  src/modules/imports/api/list-import-rows.ts
  src/modules/imports/api/update-import-row-data.ts
  src/modules/imports/api/update-import-row-status.ts
  src/modules/imports/services/list-import-rows.integration.test.ts
  src/modules/imports/services/list-import-rows.ts
  src/modules/imports/services/update-import-row-data.integration.test.ts
  src/modules/imports/services/update-import-row-data.ts
  src/modules/imports/services/update-import-row-status.integration.test.ts
  src/modules/imports/services/update-import-row-status.ts
  src/modules/imports/validators.ts
Due: typecheck, lint, format

feat(ui): add import detail page with row table and click-to-edit cells
  messages/en-US.json
  src/modules/imports/components/editable-cell.tsx
  src/modules/imports/components/import-detail-actions.tsx
  src/modules/imports/components/import-detail-header.tsx
  src/modules/imports/components/import-detail-summary.tsx
  src/modules/imports/components/import-row-actions.tsx
  src/modules/imports/components/import-rows-columns.tsx
  src/modules/imports/components/import-rows-data-grid.tsx
  src/modules/imports/components/import-upload-dialog.tsx
  src/modules/imports/hooks/use-imports.ts
  src/routeTree.gen.ts
  src/routes/_app/imports/$importId.tsx
  src/routes/_app/imports/index.tsx
  src/routes/_app/imports/route.tsx
Due: typecheck, lint, format

chore(config): allow camelCase in $param route filenames
  .oxlintrc.json
Due: format

test(e2e): add import review + commit E2E tests
  e2e/app/imports.test.ts
  e2e/fixtures/import-actions.ts
Due: typecheck, lint, format

fix(e2e): fix import E2E test assertions and add transaction verification
  e2e/app/imports.test.ts
  e2e/fixtures/import-actions.ts
Due: typecheck, lint, format

test(e2e): add click-to-edit, read-only, toggle visibility, and invalid amount tests
  e2e/app/imports.test.ts
Due: typecheck, lint, format
