Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck --pretty false

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

refactor(ui): replace Typography component with Tailwind class conventions
  .claude/rules/typography.md
  AGENTS.md
  docs/development/components/README.md
  docs/development/components/examples/typography.md
  docs/development/components/implementation.md
  docs/development/styling.md
  src/components/errors/not-found.tsx
  src/components/errors/root-error-boundary.tsx
  src/components/ui/typography.tsx
Due: typecheck, lint, lint-md, format

feat(finance): add accounts CRUD module with full UI and server functions
  .github/actions/static-analysis/action.yml
  docs/development/logging.md
  eslint.config.js
  messages/en-US.json
  src/db/schema.ts
  src/db/shared.ts
  src/lib/audit/insert-audit-log.ts
  src/lib/logging/evlog.ts
  src/lib/validation.ts
  src/modules/accounts/api/accounts.integration.test.ts
  src/modules/accounts/api/create-account.ts
  src/modules/accounts/api/delete-account.ts
  src/modules/accounts/api/get-credit-card-catalog.ts
  src/modules/accounts/api/list-accounts.ts
  src/modules/accounts/api/update-account.ts
  src/modules/accounts/components/account-form.tsx
  src/modules/accounts/components/account-row-actions.tsx
  src/modules/accounts/components/account-type-badge.tsx
  src/modules/accounts/components/accounts-columns.tsx
  src/modules/accounts/components/accounts-data-grid.tsx
  src/modules/accounts/components/accounts-empty.tsx
  src/modules/accounts/components/accounts-page-header.tsx
  src/modules/accounts/components/create-account-dialog.tsx
  src/modules/accounts/components/delete-account-action.tsx
  src/modules/accounts/components/edit-account-dialog.tsx
  src/modules/accounts/db/relations.ts
  src/modules/accounts/db/schema.ts
  src/modules/accounts/hooks/use-accounts.ts
  src/modules/accounts/types.ts
  src/modules/auth/db/relations.ts
  src/modules/auth/middleware.ts
  src/modules/finance/db/relations.ts
  src/modules/finance/db/schema.ts
  src/routeTree.gen.ts
  src/routes/_app/accounts.tsx
  test/factories/account-balance-snapshot.factory.ts
  test/factories/account-terms.factory.ts
  test/factories/credit-card-catalog.factory.ts
Due: typecheck, lint, lint-md, format

docs: add commit body style convention to AGENTS.md
  AGENTS.md
Due: lint-md, format

docs(tests): update E2E section with directory conventions, tags, and storageState
  docs/development/testing.md
Due: lint-md, format

feat(tests): add E2E auth infrastructure and auth flow tests
  .env.example
  AGENTS.md
  docs/development/testing.md
  e2e/app/a11y.test.ts
  e2e/app/shell.test.ts
  e2e/auth/redirect.test.ts
  e2e/auth/sign-in.test.ts
  e2e/auth/sign-out.test.ts
  e2e/auth/sign-up.test.ts
  e2e/fixtures/index.ts
  e2e/setup/auth.setup.ts
  e2e/tsconfig.json
  eslint.config.js
  playwright.config.ts
  src/components/ui/field.tsx
  src/lib/auth.ts
  src/lib/form.ts
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
  src/modules/auth/db/relations.ts
  src/modules/auth/lib/validate-field.ts
  test/seed/e2e-user.ts
  test/seed/seed-runner.ts
  tsconfig.json
Due: typecheck, lint, lint-md, format

docs(tests): split E2E docs into hub + topic files
  .claude/rules/e2e-testing.md
  .claude/rules/testing.md
  AGENTS.md
  docs/development/e2e/README.md
  docs/development/e2e/accessibility.md
  docs/development/e2e/assertions.md
  docs/development/e2e/auth.md
  docs/development/e2e/config.md
  docs/development/e2e/debugging.md
  docs/development/e2e/fixtures.md
  docs/development/e2e/locators.md
  docs/development/e2e/network.md
  docs/development/testing.md
Due: lint-md, format

fix(ui): resolve link-in-text-block a11y violation and improve E2E tests
  e2e/app/a11y.test.ts
  e2e/auth/sign-up.test.ts
  src/components/ui/link.tsx
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
  src/styles/globals.css
Due: typecheck, lint, format

fix(ci): resolve static-analysis, unit-test, and e2e-test failures
  .github/actions/ci-prepare/action.yml
  .github/actions/static-analysis/action.yml
  .github/workflows/ci.yml
  vitest.config.ts
Due: typecheck, lint, format

fix(ci): prettier ignore inlang, fix e2e seed profile, silence OTLP noise
  .env.example
  .github/workflows/ci.yml
  .prettierignore
Due: none

feat(ci): add 1Password secrets for E2E tests and Brevo sandbox header
  .github/workflows/ci.yml
  src/configs/env.ts
  src/lib/email.ts
Due: typecheck, lint, format

fix(ci): pass Brevo sandbox header as HTTP request header, not email header
  src/lib/email.ts
Due: typecheck, lint, format

fix(email): skip Brevo API call when EMAIL_SANDBOX is true
  src/lib/email.ts
Due: typecheck, lint, format

chore(deps): bump node, pnpm, and dev dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: format

fix(tests): fix auth setup lint warnings with proper Playwright assertions
  docs/development/e2e/auth.md
  e2e/setup/auth.setup.ts
Due: typecheck, lint, lint-md, format

feat(email): replace EMAIL_SANDBOX with Mailpit for local dev and E2E
  .env.example
  .github/workflows/ci.yml
  docker-compose.yml
  docs/development/emails.md
  docs/development/env.md
  e2e/fixtures/mailpit.ts
  package.json
  pnpm-lock.yaml
  src/configs/env.ts
  src/lib/email.ts
Due: typecheck, lint, lint-md, format

fix(config): remove invalid preserveSemverRanges from Renovate config
  .github/renovate.json
Due: format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

refactor(tests): centralize E2E credentials in shared constants
  docs/development/e2e/auth.md
  e2e/auth/sign-in.test.ts
  e2e/auth/sign-out.test.ts
  e2e/fixtures/constants.ts
  e2e/setup/auth.setup.ts
  test/seed/e2e-user.ts
Due: typecheck, lint, lint-md, format

test(auth): add E2E auth edge-case tests
  docs/development/e2e/README.md
  docs/development/e2e/auth.md
  e2e/auth/reverse-guard.test.ts
  e2e/auth/sign-in.test.ts
  e2e/auth/sign-up.test.ts
  playwright.config.ts
Due: typecheck, lint, lint-md, format

test(tests): add dashboard E2E, mobile viewports, and a11y contrast fix
  docs/development/e2e/README.md
  docs/development/e2e/auth.md
  e2e/app/a11y.test.ts
  e2e/app/dashboard.test.ts
  e2e/auth/sign-out.test.ts
  e2e/fixtures/a11y.ts
  playwright.config.ts
  src/components/errors/not-found.tsx
  src/components/ui/empty.tsx
  src/styles/globals.css
Due: typecheck, lint, lint-md, format

feat(ui): add Banner component for page-level contextual alerts
  src/components/ui/banner.tsx
  src/routes/_app/route.tsx
Due: typecheck, lint, format

feat(db): seed base categories and credit card catalog
  test/factories/category.factory.ts
  test/seed/base-categories.ts
  test/seed/credit-card-catalog.ts
  test/seed/seed-runner.ts
Due: typecheck, lint, format

refactor(tests): use drizzle-arktype schemas for type inference in test layer
  src/db/schema.ts
  src/modules/auth/db/arktype-schemas.ts
  test/factories/account-balance-snapshot.factory.ts
  test/factories/account-terms.factory.ts
  test/factories/category.factory.ts
  test/factories/credit-card-catalog.factory.ts
  test/factories/ledger-account.factory.ts
  test/factories/payee.factory.ts
  test/factories/tag.factory.ts
  test/factories/transaction.factory.ts
  test/factories/transfer.factory.ts
  test/factories/user.factory.ts
  test/scenarios/full-transaction.ts
  test/scenarios/monthly-spending.ts
  test/scenarios/multi-account-user.ts
  test/seed/base-categories.ts
  test/seed/credit-card-catalog.ts
Due: typecheck, lint, format

fix(ui): add iOS Safari backdrop fix and full-height root wrapper
  src/routes/__root.tsx
Due: typecheck, lint, format

fix(tests): auto-seed DB before E2E auth setup
  docs/development/e2e/README.md
  docs/development/e2e/auth.md
  e2e/setup/db.setup.ts
  playwright.config.ts
  test/seed/base-categories.ts
  test/seed/seed-runner.ts
Due: typecheck, lint, lint-md, format

feat(email): align email tokens with design system and add i18n
  docs/development/emails.md
  e2e/tsconfig.json
  messages/en-US.json
  src/modules/auth/emails/base-email.tsx
  src/modules/auth/emails/email-render.test.ts
  src/modules/auth/emails/email-render.ts
  src/modules/auth/emails/email-service.tsx
  src/modules/auth/emails/reset-password-email.tsx
  src/modules/auth/emails/verification-email.tsx
Due: typecheck, lint, lint-md, format

feat(finance): add categories CRUD with parent/child hierarchy
  .claude/CLAUDE.md
  e2e/app/categories.test.ts
  messages/en-US.json
  src/components/layouts/app/app-sidebar.tsx
  src/modules/categories/api/categories.integration.test.ts
  src/modules/categories/api/create-category.ts
  src/modules/categories/api/delete-category.ts
  src/modules/categories/api/list-categories.ts
  src/modules/categories/api/update-category.ts
  src/modules/categories/components/categories-columns.tsx
  src/modules/categories/components/categories-data-grid.tsx
  src/modules/categories/components/categories-empty.tsx
  src/modules/categories/components/categories-page-header.tsx
  src/modules/categories/components/category-form.tsx
  src/modules/categories/components/category-row-actions.tsx
  src/modules/categories/components/category-type-badge.tsx
  src/modules/categories/components/create-category-dialog.tsx
  src/modules/categories/components/delete-category-action.tsx
  src/modules/categories/components/edit-category-dialog.tsx
  src/modules/categories/hooks/use-categories.ts
  src/modules/categories/types.ts
  src/routeTree.gen.ts
  src/routes/_app/categories.tsx
  vitest.config.ts
Due: typecheck, lint, lint-md, format

refactor(finance): extract category schemas to categories module
  src/db/schema.ts
  src/modules/auth/db/relations.ts
  src/modules/categories/api/create-category.ts
  src/modules/categories/api/delete-category.ts
  src/modules/categories/api/list-categories.ts
  src/modules/categories/api/update-category.ts
  src/modules/categories/components/category-form.tsx
  src/modules/categories/db/relations.ts
  src/modules/categories/db/schema.ts
  src/modules/categories/types.ts
  src/modules/finance/db/relations.ts
  src/modules/finance/db/schema.ts
  src/modules/transactions/db/relations.ts
  src/modules/transactions/db/schema.ts
Due: typecheck, lint, format

refactor(finance): use relational query API for list-transactions
  src/modules/transactions/api/list-transactions.ts
Due: typecheck, lint, format

refactor(finance): align form schemas with server validation
  AGENTS.md
  docs/development/components/tanstack.md
  e2e/app/categories.test.ts
  src/modules/accounts/components/account-form.tsx
  src/modules/categories/components/category-form.tsx
  src/modules/categories/components/edit-category-dialog.tsx
Due: typecheck, lint, lint-md, format

feat(finance): add transactions CRUD with payees, tags, and categories
  e2e/app/transactions.test.ts
  e2e/setup/auth.setup.ts
  messages/en-US.json
  src/components/layouts/app/app-sidebar.tsx
  src/modules/accounts/db/relations.ts
  src/modules/transactions/api/create-payee.ts
  src/modules/transactions/api/create-tag.ts
  src/modules/transactions/api/create-transaction.ts
  src/modules/transactions/api/delete-transaction.ts
  src/modules/transactions/api/list-payees.ts
  src/modules/transactions/api/list-tags.ts
  src/modules/transactions/api/transactions.integration.test.ts
  src/modules/transactions/api/update-transaction.ts
  src/modules/transactions/components/create-transaction-dialog.tsx
  src/modules/transactions/components/delete-transaction-action.tsx
  src/modules/transactions/components/edit-transaction-dialog.tsx
  src/modules/transactions/components/transaction-form.tsx
  src/modules/transactions/components/transaction-row-actions.tsx
  src/modules/transactions/components/transactions-columns.tsx
  src/modules/transactions/components/transactions-data-grid.tsx
  src/modules/transactions/components/transactions-empty.tsx
  src/modules/transactions/components/transactions-page-header.tsx
  src/modules/transactions/hooks/use-transactions.ts
  src/modules/transactions/types.ts
  src/routeTree.gen.ts
  src/routes/_app/transactions.tsx
Due: typecheck, lint, format

refactor(e2e): replace React-internals hydration detection with useHydrated hook
  docs/development/e2e/README.md
  docs/development/e2e/auth.md
  e2e/app/a11y.test.ts
  e2e/app/dashboard.test.ts
  e2e/app/transactions.test.ts
  e2e/auth/sign-in.test.ts
  e2e/auth/sign-out.test.ts
  e2e/auth/sign-up.test.ts
  e2e/fixtures/index.ts
  e2e/setup/auth.setup.ts
  src/hooks/use-hydrated.test.ts
  src/hooks/use-hydrated.ts
  src/modules/accounts/components/accounts-page-header.tsx
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
  src/modules/categories/components/categories-page-header.tsx
  src/modules/transactions/components/transactions-page-header.tsx
  src/routes/__root.tsx
Due: typecheck, lint, lint-md, format

fix(ui): non-modal dropdown menus and unique E2E category names
  e2e/app/categories.test.ts
  src/components/ui/dropdown-menu.tsx
Due: typecheck, lint, format

refactor(finance): decouple create/update schemas from Drizzle and enable exactOptionalPropertyTypes
  .claude/CLAUDE.md
  AGENTS.md
  playwright.config.ts
  src/components/data-grid/index.tsx
  src/components/filters/context.tsx
  src/components/filters/input.tsx
  src/components/filters/value-selector.tsx
  src/components/layouts/app/app-sidebar.tsx
  src/components/layouts/shells/sidebar-shell.tsx
  src/components/nav/nav-secondary.tsx
  src/components/nav/nav-user.tsx
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
  src/components/ui/confirm-destructive-dialog.tsx
  src/components/ui/date-selector.tsx
  src/components/ui/phone-input.tsx
  src/components/ui/sonner.tsx
  src/components/ui/sortable.tsx
  src/components/ui/tree.tsx
  src/hooks/use-file-upload.ts
  src/lib/email.ts
  src/modules/accounts/components/account-form.tsx
  src/modules/accounts/components/create-account-dialog.tsx
  src/modules/accounts/components/edit-account-dialog.tsx
  src/modules/accounts/types.ts
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/emails/email-render.ts
  src/modules/auth/emails/reset-password-email.tsx
  src/modules/auth/emails/verification-email.tsx
  src/modules/categories/components/category-form.tsx
  src/modules/categories/components/create-category-dialog.tsx
  src/modules/categories/components/edit-category-dialog.tsx
  src/modules/categories/types.ts
  src/modules/transactions/components/create-transaction-dialog.tsx
  src/modules/transactions/components/edit-transaction-dialog.tsx
  src/modules/transactions/components/transaction-form.tsx
  tsconfig.json
Due: typecheck, lint, lint-md, format

refactor(finance): extract shared validators and tighten account schemas
  src/lib/schema.ts
  src/modules/accounts/components/account-form.tsx
  src/modules/accounts/components/edit-account-dialog.tsx
  src/modules/accounts/types.ts
  src/modules/transactions/types.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
