Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck --pretty false
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

chore(deps): upgrade to ESLint 10 and @eslint-react v3
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Due: format

fix(tooling): resolve ESLint 10 and @eslint-react v3 lint errors
  src/components/data-grid/table-dnd-rows.tsx
  src/components/data-grid/table-dnd.tsx
  src/components/data-grid/table.tsx
  src/components/filters/index.tsx
  src/components/filters/remove-button.tsx
  src/components/filters/value-selector.tsx
  src/components/layouts/shells/default-shell.tsx
  src/components/ui/date-picker.tsx
  src/components/ui/scrollspy.tsx
  src/components/ui/stepper.tsx
  src/components/ui/tree.tsx
  src/modules/accounts/components/accounts-data-grid.tsx
  src/modules/auth/middleware.ts
  src/modules/budgets/components/budgets-page-header.tsx
  src/modules/budgets/components/copy-budget-dialog.tsx
  src/modules/categories/components/categories-data-grid.tsx
  src/modules/transactions/components/transactions-data-grid.tsx
  src/routes/_app/budgets.tsx
  src/routes/_demo/components/data.tsx
  src/routes/_demo/components/date.tsx
Due: typecheck, lint, format

chore(tooling): enable new oxlint rules, vitest and import-x jsPlugins
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
  src/components/data-grid/column-filter.tsx
  src/components/data-grid/column-header.tsx
  src/components/data-grid/column-visibility.tsx
  src/components/data-grid/index.tsx
  src/components/data-grid/pagination.tsx
  src/components/data-grid/table-dnd-rows.tsx
  src/components/data-grid/table-dnd.tsx
  src/components/data-grid/table.tsx
  src/components/errors/root-error-boundary.tsx
  src/components/filters/remove-button.tsx
  src/components/filters/value-selector.tsx
  src/components/layouts/shells/default-shell.tsx
  src/components/ui/confirm-destructive-dialog.test.tsx
  src/components/ui/stepper.tsx
  src/components/ui/toggle-group.tsx
  src/components/ui/tree.tsx
  src/configs/env.test.ts
  src/hooks/use-broadcast-channel.test.ts
  src/lib/audit/insert-audit-log.test.ts
  src/lib/audit/log-audit-event.test.ts
  src/lib/logging/client-logger.test.ts
  src/modules/auth/emails/email-render.test.ts
  src/modules/auth/emails/email-render.ts
  src/modules/transactions/services/payees-tags-services.integration.test.ts
  test/seed/e2e-user.ts
Due: typecheck, lint, format

fix(tooling): guard client-logger from server imports, restore tree.tsx dev guards
  .oxlintrc.json
  src/components/ui/tree.tsx
Due: typecheck, lint, format

chore(deps): bump minor/patch dependencies
  package.json
  pnpm-lock.yaml
Due: format

feat(routes): redirect authenticated users from / to dashboard
  .claude/rules/routes.md
  src/components/layouts/shells/default-shell.tsx
  src/routes/_public/index.tsx
Due: typecheck, lint, lint-md, format

feat(finance): csv upload + parsing
  e2e/app/imports.test.ts
  e2e/fixtures/chase-sample.csv
  messages/en-US.json
  package.json
  pnpm-lock.yaml
  src/components/layouts/app/app-sidebar.tsx
  src/modules/imports/api/create-import.ts
  src/modules/imports/api/list-imports.ts
  src/modules/imports/components/import-upload-dialog.tsx
  src/modules/imports/components/imports-columns.tsx
  src/modules/imports/components/imports-data-grid.tsx
  src/modules/imports/components/imports-empty.tsx
  src/modules/imports/components/imports-page-header.tsx
  src/modules/imports/hooks/use-imports.ts
  src/modules/imports/lib/hash-file.test.ts
  src/modules/imports/lib/hash-file.ts
  src/modules/imports/services/create-import.integration.test.ts
  src/modules/imports/services/create-import.ts
  src/modules/imports/services/list-imports.ts
  src/modules/imports/validators.ts
  src/routeTree.gen.ts
  src/routes/_app/imports.tsx
  test/factories/import.factory.ts
Due: typecheck, lint, format

docs: add commit ticket ref convention to AGENTS.md
  AGENTS.md
Due: lint-md, format

fix(ui): remove explicit modal default from DropdownMenu
  src/components/ui/dropdown-menu.tsx
Due: typecheck, lint, format

chore(deps): upgrade Vite 8, plugin-react 6, bump minor/patch deps
  package.json
  pnpm-lock.yaml
  vite.config.ts
  vitest.config.ts
Due: typecheck, lint, format

fix(finance): batch import row inserts and add perf safeguards
  docs/development/e2e/README.md
  drizzle/0009_imports-user-file-hash-idx.sql
  drizzle/0010_drop-redundant-imports-user-idx.sql
  drizzle/meta/0009_snapshot.json
  drizzle/meta/0010_snapshot.json
  drizzle/meta/_journal.json
  e2e/app/imports-stress.test.ts
  e2e/fixtures/large-import.csv
  playwright.config.ts
  src/modules/imports/db/schema.ts
  src/modules/imports/services/create-import.integration.test.ts
  src/modules/imports/services/create-import.ts
  src/modules/imports/services/list-imports.ts
Due: typecheck, lint, lint-md, format

fix(tests): harden flaky budget dialog and a11y E2E tests
  e2e/app/a11y.test.ts
  e2e/app/budgets.test.ts
  e2e/app/dashboard.test.ts
Due: typecheck, lint, format

fix(tests): fix cross-project CSV import hash collision
  e2e/app/imports.test.ts
  e2e/setup/db.setup.ts
Due: typecheck, lint, format

feat(analytics): integrate PostHog client-side analytics
  .env.example
  package.json
  pnpm-lock.yaml
  src/configs/env.ts
  src/hooks/use-posthog-identity.ts
  src/lib/analytics.tsx
  src/routes/__root.tsx
  src/routes/_app/route.tsx
Due: typecheck, lint, format

feat(analytics): add server-side PostHog, reverse proxy, and error guards
  .env.example
  package.json
  pnpm-lock.yaml
  src/configs/analytics.ts
  src/configs/env.ts
  src/hooks/use-posthog-identity.ts
  src/lib/analytics-server.ts
  src/lib/analytics.tsx
  src/modules/auth/hooks/use-sign-out.ts
  src/routeTree.gen.ts
  src/routes/_app/route.tsx
  src/routes/api/ingest/$.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

docs: audit and fix outdated documentation across 11 files
  README.md
  docs/README.md
  docs/development/architecture.md
  docs/development/data-compliance.md
  docs/development/e2e/README.md
  docs/development/e2e/accessibility.md
  docs/development/e2e/assertions.md
  docs/development/emails.md
  docs/development/security.md
  docs/development/seo.md
  docs/development/testing.md
Due: lint-md, format

fix(docs): correct database rule paths to use db/ subdirectory
  .claude/rules/database.md
Due: lint-md, format

fix(tooling): work around Rolldown __exportAll chunk ordering bug
  vite.config.ts
Due: typecheck, lint, format

refactor(analytics): add useAnalytics abstraction and harden PostHog setup
  .vscode/settings.json
  AGENTS.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/ui/combobox.tsx
  src/hooks/use-analytics.ts
  src/hooks/use-posthog-identity.ts
  src/lib/analytics.tsx
  src/modules/accounts/hooks/use-accounts.ts
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
  src/modules/auth/hooks/use-sign-out.ts
  src/modules/categories/hooks/use-categories.ts
  src/modules/transactions/hooks/use-transactions.ts
Due: typecheck, lint, lint-md, format

chore(config): point VS Code extension at project oxfmt/oxlint binaries
  .vscode/settings.json
Due: format

feat(finance): add delete import with confirm dialog and hard delete
  e2e/app/imports.test.ts
  messages/en-US.json
  src/modules/imports/api/delete-import.ts
  src/modules/imports/components/import-row-actions.tsx
  src/modules/imports/components/imports-columns.tsx
  src/modules/imports/hooks/use-imports.ts
  src/modules/imports/services/create-import.integration.test.ts
  src/modules/imports/services/delete-import.ts
  src/modules/imports/validators.ts
Due: typecheck, lint, format

refactor(tests): split imports integration tests into per-service files
  src/modules/imports/services/create-import.integration.test.ts
  src/modules/imports/services/delete-import.integration.test.ts
  src/modules/imports/services/list-imports.integration.test.ts
Due: typecheck, lint, format

fix(ui): improve confirm dialog layout for long confirm phrases
  docs/development/components/examples/confirm-destructive-dialog.md
  messages/en-US.json
  src/components/ui/confirm-destructive-dialog.test.tsx
  src/components/ui/confirm-destructive-dialog.tsx
Due: typecheck, lint, lint-md, format

refactor(tests): split all integration tests into per-service files
  docs/development/testing.md
  src/modules/accounts/services/accounts-services.integration.test.ts
  src/modules/accounts/services/create-account.integration.test.ts
  src/modules/accounts/services/delete-account.integration.test.ts
  src/modules/accounts/services/list-accounts.integration.test.ts
  src/modules/accounts/services/update-account.integration.test.ts
  src/modules/budgets/services/budget-lines-services.integration.test.ts
  src/modules/budgets/services/budget-periods-services.integration.test.ts
  src/modules/budgets/services/copy-budget-period.integration.test.ts
  src/modules/budgets/services/create-budget-line.integration.test.ts
  src/modules/budgets/services/create-budget-period.integration.test.ts
  src/modules/budgets/services/delete-budget-line.integration.test.ts
  src/modules/budgets/services/delete-budget-period.integration.test.ts
  src/modules/budgets/services/get-budget-vs-actual.integration.test.ts
  src/modules/budgets/services/list-budget-lines.integration.test.ts
  src/modules/budgets/services/list-budget-periods.integration.test.ts
  src/modules/budgets/services/update-budget-line.integration.test.ts
  src/modules/budgets/services/update-budget-period.integration.test.ts
  src/modules/categories/services/categories-services.integration.test.ts
  src/modules/categories/services/create-category.integration.test.ts
  src/modules/categories/services/delete-category.integration.test.ts
  src/modules/categories/services/list-categories.integration.test.ts
  src/modules/categories/services/update-category.integration.test.ts
  src/modules/transactions/services/create-payee.integration.test.ts
  src/modules/transactions/services/create-tag.integration.test.ts
  src/modules/transactions/services/create-transaction.integration.test.ts
  src/modules/transactions/services/delete-transaction.integration.test.ts
  src/modules/transactions/services/list-payees.integration.test.ts
  src/modules/transactions/services/list-tags.integration.test.ts
  src/modules/transactions/services/list-transactions.integration.test.ts
  src/modules/transactions/services/payees-tags-services.integration.test.ts
  src/modules/transactions/services/transactions-services.integration.test.ts
  src/modules/transactions/services/update-transaction.integration.test.ts
Due: typecheck, lint, lint-md, format

fix(analytics): strip content-encoding from PostHog proxy responses
  src/routes/api/ingest/$.ts
Due: typecheck, lint, format

feat(analytics): add PostHog error tracking, source maps, and OTLP log drain
  .env.example
  .github/workflows/ci.yml
  docs/adr/0020-logging-evlog-signoz.md
  docs/development/logging.md
  package.json
  pnpm-lock.yaml
  src/components/errors/root-error-boundary.tsx
  src/configs/env.ts
  src/lib/analytics-server.ts
  src/lib/analytics.tsx
  src/lib/logging/drain.ts
  src/lib/logging/evlog.ts
  vite.config.ts
Due: typecheck, lint, lint-md, format

feat(analytics): add session replay with strict privacy masking
  docs/development/data-compliance.md
  src/lib/analytics.tsx
Due: typecheck, lint, lint-md, format

feat(analytics): add custom PostHog events for imports, budgets, and auth
  docs/development/logging.md
  src/modules/auth/components/social-sign-in.tsx
  src/modules/auth/hooks/use-sign-out.ts
  src/modules/budgets/hooks/use-budgets.ts
  src/modules/imports/hooks/use-imports.ts
Due: typecheck, lint, lint-md, format

fix(logging): correct PostHog OTLP endpoint base URL
  .env.example
  docs/development/logging.md
Due: lint-md, format

feat(logging): add service-call timing to key server functions
  docs/development/logging.md
  src/modules/accounts/api/list-accounts.ts
  src/modules/budgets/api/get-budget-vs-actual.ts
  src/modules/imports/api/create-import.ts
  src/modules/transactions/api/list-transactions.ts
Due: typecheck, lint, lint-md, format

chore(deps): bump dotenvx, jsdom, oxlint-tsgolint + allow posthog-cli build
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

docs: refactor AGENTS.md for progressive disclosure
  .claude/CLAUDE.md
  AGENTS.md
  docs/README.md
Due: lint-md, format

feat(finance): add CSV column mapper UI for imports
  drizzle/0011_hesitant_domino.sql
  drizzle/meta/0011_snapshot.json
  drizzle/meta/_journal.json
  e2e/app/imports-stress.test.ts
  e2e/app/imports.test.ts
  e2e/fixtures/import-actions.ts
  messages/en-US.json
  src/modules/imports/components/column-mapper-preview.tsx
  src/modules/imports/components/column-mapper.tsx
  src/modules/imports/components/import-upload-dialog.tsx
  src/modules/imports/constants.ts
  src/modules/imports/db/schema.ts
  src/modules/imports/hooks/use-csv-headers.ts
  src/modules/imports/lib/apply-column-mapping.test.ts
  src/modules/imports/lib/apply-column-mapping.ts
  src/modules/imports/lib/auto-detect-mapping.test.ts
  src/modules/imports/lib/auto-detect-mapping.ts
  src/modules/imports/services/create-import.integration.test.ts
  src/modules/imports/services/create-import.ts
  src/modules/imports/validators.ts
  test/factories/import.factory.ts
Due: typecheck, lint, format

chore(tests): tiered E2E CI workflow and tag cleanup
  .github/workflows/ci.yml
  AGENTS.md
  docs/development/e2e/README.md
  e2e/app/accounts.test.ts
  e2e/app/dashboard.test.ts
  e2e/app/imports.test.ts
  e2e/auth/redirect.test.ts
  e2e/auth/reverse-guard.test.ts
  e2e/auth/sign-in.test.ts
  e2e/auth/sign-out.test.ts
  e2e/auth/sign-up.test.ts
  package.json
  playwright.config.ts
Due: typecheck, lint, lint-md, format

fix(logging): use URL parsing for PostHog endpoint check
  src/lib/logging/drain.ts
Due: typecheck, lint, format

fix(tests): stabilize flaky E2E tests
  e2e/app/imports.test.ts
  e2e/fixtures/auth.ts
  e2e/fixtures/import-actions.ts
  e2e/fixtures/index.ts
  playwright.config.ts
Due: typecheck, lint, format
