Repository oakoss/finance-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck --pretty false

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

feat(db): add split_lines table and isSplit column to transactions
  drizzle/0013_good_iron_lad.sql
  drizzle/meta/0013_snapshot.json
  drizzle/meta/_journal.json
  src/modules/transactions/db/relations.ts
  src/modules/transactions/db/schema.ts
  src/modules/transactions/models.ts
  test/factories/transaction.factory.ts
Due: typecheck, lint, format

feat(finance): add split transaction services, API, and UI
  messages/en-US.json
  src/components/icons.tsx
  src/modules/budgets/services/get-budget-vs-actual.integration.test.ts
  src/modules/budgets/services/get-budget-vs-actual.ts
  src/modules/transactions/api/split-transaction.ts
  src/modules/transactions/api/unsplit-transaction.ts
  src/modules/transactions/api/update-split-lines.ts
  src/modules/transactions/components/split-dialog.tsx
  src/modules/transactions/components/transaction-row-actions.tsx
  src/modules/transactions/components/transactions-columns.tsx
  src/modules/transactions/hooks/use-transactions.ts
  src/modules/transactions/services/list-transactions.ts
  src/modules/transactions/services/split-transaction.integration.test.ts
  src/modules/transactions/services/split-transaction.ts
  src/modules/transactions/services/unsplit-transaction.integration.test.ts
  src/modules/transactions/services/unsplit-transaction.ts
  src/modules/transactions/services/update-split-lines.integration.test.ts
  src/modules/transactions/services/update-split-lines.ts
  src/modules/transactions/services/update-transaction.ts
  src/modules/transactions/validators.ts
Due: typecheck, lint, format

fix(finance): add row count verification and symmetric audit logs for split services
  src/modules/transactions/services/split-transaction.ts
  src/modules/transactions/services/unsplit-transaction.ts
  src/modules/transactions/services/update-split-lines.ts
Due: typecheck, lint, format

docs(ui): add theme and design token audit for component revamp
  docs/README.md
  docs/development/theme-audit.md
Due: lint-md, format

chore(deps): bump oxlint, oxfmt, tanstack-query, posthog-js, vitest-eslint
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Due: format

chore(tooling): lint rule to block dynamic import() in source files
  eslint.config.js
Due: lint, format

docs(ui): add component audit for EPIC-24 revamp
  docs/README.md
  docs/development/component-audit.md
Due: lint-md, format

fix(ui): darken --muted-foreground for WCAG AA contrast
  docs/development/component-audit.md
  docs/development/theme-audit.md
  src/components/ui/calendar.tsx
  src/components/ui/chart.tsx
  src/components/ui/combobox.tsx
  src/components/ui/native-select.tsx
  src/components/ui/phone-input.tsx
  src/components/ui/select.tsx
  src/components/ui/tree.tsx
  src/modules/auth/emails/base-email.tsx
  src/modules/imports/components/import-upload-dialog.tsx
  src/styles/globals.css
Due: typecheck, lint, lint-md, format

feat(ui): add size variants to Dialog and clean up tooltip
  docs/development/component-audit.md
  src/components/ui/dialog.tsx
  src/components/ui/tooltip.tsx
  src/modules/accounts/components/create-account-dialog.tsx
  src/modules/accounts/components/edit-account-dialog.tsx
  src/modules/budgets/components/copy-budget-dialog.tsx
  src/modules/budgets/components/edit-budget-dialog.tsx
  src/modules/categories/components/create-category-dialog.tsx
  src/modules/categories/components/edit-category-dialog.tsx
  src/modules/imports/components/import-upload-dialog.tsx
  src/modules/transactions/components/create-transaction-dialog.tsx
  src/modules/transactions/components/edit-transaction-dialog.tsx
  src/modules/transactions/components/split-dialog.tsx
Due: typecheck, lint, lint-md, format

docs(ui): add selection component usage guidance
  docs/development/component-audit.md
  docs/development/components/README.md
Due: lint-md, format

feat(ui): add size variants to Input
  docs/development/component-audit.md
  src/components/ui/input-group.tsx
  src/components/ui/input.tsx
  src/components/ui/password-input.tsx
Due: typecheck, lint, lint-md, format

fix(ui): add global prefers-reduced-motion override
  docs/development/component-audit.md
  src/components/ui/skeleton.tsx
  src/styles/globals.css
Due: typecheck, lint, lint-md, format

docs(ui): update component docs for EPIC-24 revamp
  docs/development/components/behavior.md
  docs/development/components/implementation.md
  docs/development/styling.md
Due: lint-md, format

chore(deps): bump react-hotkeys, varlock, shadcn
  package.json
  pnpm-lock.yaml
Due: format

fix(ui): gate form validation behind first submit attempt
  docs/development/components/tanstack.md
  src/lib/form/field.ts
  src/modules/accounts/components/account-form.tsx
  src/modules/auth/components/sign-in-form.tsx
  src/modules/auth/components/sign-up-form.tsx
  src/modules/categories/components/category-form.tsx
  src/modules/imports/components/import-upload-dialog.tsx
  src/modules/transactions/components/transaction-form.tsx
Due: typecheck, lint, lint-md, format

fix(tests): run E2E on port 3001 to avoid dev server collision
  .env.schema
  docs/development/e2e/README.md
  docs/development/e2e/config.md
  e2e/README.md
  eslint.config.js
  playwright.config.ts
  vite.config.ts
Due: typecheck, lint, lint-md, format

fix(email): prefer Brevo over SMTP when API key is set
  .env.schema
  src/lib/email.ts
Due: typecheck, lint, format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

fix(ui): remove redundant useState type arguments
  src/components/filters/index.tsx
  src/modules/budgets/components/copy-budget-dialog.tsx
  src/modules/transactions/components/transaction-form.tsx
  src/routes/_demo/components/layout.tsx
Due: typecheck, lint, format

feat(ui): extract FileUpload component from imports dialog
  messages/en-US.json
  src/components/ui/file-upload.tsx
  src/modules/imports/components/import-upload-dialog.tsx
  src/routes/_demo/components/forms.tsx
Due: typecheck, lint, format

feat(auth): bootstrap user_preferences on sign-up
  src/lib/auth/server.ts
  src/modules/preferences/api/get-preferences.integration.test.ts
  src/modules/preferences/api/get-preferences.ts
  src/modules/preferences/services/bootstrap.integration.test.ts
  src/modules/preferences/services/bootstrap.ts
Due: typecheck, lint, format

fix(logging): alias varlock/env to process.env shim in Nitro
  Dockerfile
  src/lib/varlock-env-shim.ts
  vite.config.ts
Due: typecheck, lint, format

feat(ui): preferences dialog with locale, currency, and time zone
  .claude/rules/server-functions.md
  docs/development/architecture.md
  docs/development/components/examples/form.md
  e2e/app/preferences.test.ts
  messages/en-US.json
  src/components/nav/nav-user.tsx
  src/modules/preferences/api/get-preferences.ts
  src/modules/preferences/api/update-preferences.ts
  src/modules/preferences/components/preferences-dialog.tsx
  src/modules/preferences/hooks/use-preferences.ts
  src/modules/preferences/services/fetch-preferences.integration.test.ts
  src/modules/preferences/services/fetch-preferences.ts
  src/modules/preferences/services/update-preferences.integration.test.ts
  src/modules/preferences/services/update-preferences.ts
  src/modules/preferences/validators.ts
  src/routes/_app/route.tsx
Due: typecheck, lint, lint-md, format

fix(auth): clear query cache on sign-out
  src/modules/auth/hooks/use-sign-out.test.ts
  src/modules/auth/hooks/use-sign-out.ts
Due: typecheck, lint, format

fix(ui): migrate Combobox consumers to items + ComboboxCollection
  docs/development/components/implementation.md
  src/components/ui/phone-input.tsx
  src/modules/accounts/components/account-form.tsx
  src/routes/_demo/components/selections.tsx
Due: typecheck, lint, lint-md, format

feat(ui): profile page with identity, security, and danger zone
  e2e/app/profile.test.ts
  messages/en-US.json
  src/components/nav/nav-user.tsx
  src/components/ui/card.tsx
  src/modules/auth/api/get-linked-accounts.ts
  src/modules/auth/components/danger-zone-section.tsx
  src/modules/auth/components/linked-accounts-section.tsx
  src/modules/auth/components/profile-email-section.tsx
  src/modules/auth/components/profile-info-section.tsx
  src/modules/auth/components/profile-name-form.tsx
  src/modules/auth/components/profile-password-section.tsx
  src/modules/auth/hooks/use-linked-accounts.ts
  src/modules/auth/lib/get-initials.ts
  src/routeTree.gen.ts
  src/routes/_app/profile.tsx
Due: typecheck, lint, format

docs(workflow): add ideas, specs, and research directories
  AGENTS.md
  docs/README.md
  docs/adr/0000-template.md
  docs/adr/README.md
  docs/ideas/0000-template.md
  docs/ideas/README.md
  docs/research/0000-template.md
  docs/research/0001-profile-page-ux.md
  docs/research/0002-base-ui-combobox-empty-state.md
  docs/research/README.md
  docs/specs/0000-template.md
  docs/specs/README.md
Due: lint-md, format

feat(auth): add provider disconnect to profile connected accounts
  messages/en-US.json
  src/modules/auth/components/linked-accounts-section.tsx
Due: typecheck, lint, format

feat(finance): add data export as CSV/JSON from profile page
  docs/research/0003-data-export.md
  docs/research/README.md
  e2e/app/profile.test.ts
  messages/en-US.json
  package.json
  pnpm-lock.yaml
  src/components/icons.tsx
  src/modules/export/api/export-user-data.ts
  src/modules/export/components/data-export-section.tsx
  src/modules/export/services/build-export.ts
  src/modules/export/services/format-csv.test.ts
  src/modules/export/services/format-csv.ts
  src/modules/export/services/format-json.test.ts
  src/modules/export/services/format-json.ts
  src/modules/export/services/gather-user-data.integration.test.ts
  src/modules/export/services/gather-user-data.ts
  src/modules/export/validators.ts
  src/routes/_app/profile.tsx
Due: typecheck, lint, lint-md, format

feat(auth): add account deletion with 7-day grace period
  docs/research/0004-account-deletion.md
  docs/research/README.md
  drizzle/0014_cuddly_machine_man.sql
  drizzle/0015_loose_sue_storm.sql
  drizzle/meta/0014_snapshot.json
  drizzle/meta/0015_snapshot.json
  drizzle/meta/_journal.json
  e2e/app/profile.test.ts
  messages/en-US.json
  src/db/schema.ts
  src/lib/auth/server.ts
  src/modules/auth/api/cancel-account-deletion.ts
  src/modules/auth/api/get-deletion-request.ts
  src/modules/auth/api/initiate-account-deletion.ts
  src/modules/auth/components/danger-zone-section.tsx
  src/modules/auth/components/deletion-banner.tsx
  src/modules/auth/db/deletion-requests.ts
  src/modules/auth/db/relations.ts
  src/modules/auth/emails/deletion-cancelled.tsx
  src/modules/auth/emails/deletion-complete.tsx
  src/modules/auth/emails/deletion-scheduled.tsx
  src/modules/auth/emails/email-service.tsx
  src/modules/auth/services/cancel-deletion.integration.test.ts
  src/modules/auth/services/cancel-deletion.ts
  src/modules/auth/services/initiate-deletion.integration.test.ts
  src/modules/auth/services/initiate-deletion.ts
  src/modules/auth/services/purge-user.integration.test.ts
  src/modules/auth/services/purge-user.ts
  src/modules/auth/services/run-purge.integration.test.ts
  src/modules/auth/services/run-purge.ts
  src/routes/_app/route.tsx
  src/tasks/purge-deleted-accounts.ts
  vite.config.ts
Due: typecheck, lint, lint-md, format

chore(tests): remove stale ticket references from code comments
  e2e/app/dashboard.test.ts
  e2e/fixtures/constants.ts
  src/modules/imports/services/create-import.integration.test.ts
Due: typecheck, lint, format

fix(tooling): make PostHog sourcemap upload non-fatal and ship via BuildKit secrets
  .github/workflows/ci.yml
  .oxlintrc.json
  Dockerfile
  docs/development/logging.md
  vite.config.ts
Due: typecheck, lint, lint-md, format

fix(infra): match Coolify build secret IDs to env var names
  Dockerfile
  docs/development/logging.md
Due: lint-md, format

fix(infra): stop blocking Coolify build-secret auto-injection
  Dockerfile
  docs/development/logging.md
Due: lint-md, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  lint-md: any of: *.md
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
